.resultsIndividuals {
  display: flex;
  margin-top: 9px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  /* width: 30vw; */
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  flex-direction: row;
}

.resultsIndividuals div {
  margin: 20px;
}

.skipAndLimit {
  display: flex;
}

.diseasesContainer {
  margin: 0px !important;
}

.measuresContainer {
  display: flex;
}

.measures {
  margin: 20px;
}

label {
  font-size: 14px;
}

.skipLimit {
  width: 100vw;
  margin-top: 12px;
}

.skipLimitButton {
  width: fit-content;
  background-color: rgb(228 223 223);
  /* border: none; */
  padding: 4px;
  box-shadow: 0px 2px 3px #a3a0a0;
  border-radius: 3px;
  font-feature-settings: 'pcap', 'c2pc';
  font-variant: all-petite-caps;
  font-size: 16px;
  cursor: pointer;
  /* height: 50%; */
  margin-left: 9px;
  color: rgb(0, 0, 0);
}

.skipLimitButton:hover {
  background: rgb(81, 179, 240);
}

h1 {
  font-size: 12px;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: rgba(12, 16, 64, 0.606);
  font-size: 13px;
}

h3 {
  color: #c11524;
  text-transform: uppercase;
  margin-top: 17px;
  font-size: 14px;
  display: flex;
  align-content: center;
  justify-content: center;
}

h4 {
  font-size: 12px;
  color: rgba(12, 16, 64, 0.606);
}

.selectGranularity h5 {
  font-size: 14px;
  color: #8985c1;
}

.selectGranularity h4 {
  font-size: 14px;
}

.selectGranularity button:hover {
  color: rgb(81, 179, 240);
}

.p1 {
  text-transform: uppercase;
  color: #e16e00;
  line-height: 23px;
  font-size: 18px;
  font-weight: bold;
}

.results {
  flex-wrap: wrap;
  justify-content: center;
}

.typeResults {
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-bottom: 0px; */
  border: none;
  font-size: 16px;
  text-decoration: underline;
  background: white;
  cursor: pointer;
  text-underline-offset: 2px;
}

.skipForm {
  background: white;
  border: 2px solid #34495e;
  margin: 8px;
  padding: 4px;
  box-shadow: 2px 1px 3px #a3a0a0;
  width: 30px;
  height: 12px;
  border-radius: 3px;
}

.skipAndLimit {
  display: flex;
  align-content: flex-start;
  /* align-items: center; */
  margin-left: 43px;
  margin-bottom: 27px;
  align-items: center;
  width: 90%;
}

.limitForm {
  background: white;
  border: 2px solid #34495e;
  margin: 8px;
  padding: 4px;
  box-shadow: 2px 1px 3px #a3a0a0;
  width: 30px;
  height: 12px;
  border-radius: 3px;
}

.modeChangeResults {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.modeChangeResults2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 44px; */
  margin-top: -78px;
  margin-bottom: 24px;
}

.modeChangeResults h3 {
  color: #e16e00;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px !important;
}

.modeChangeResults2 h3 {
  color: #e16e00;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px !important;
}

.resultsContainer {
  display: flex;
  justify-content: center;
}

.selectGranularity {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader2 {
  width: 50vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }


#ld3 {
  position: relative;
  animation: outercontainer 4s linear infinite; }
  #ld3 div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #ld3 div:nth-child(1) {
    top: 20px;
    background: #4ac985;
    animation: ld3_div1 2s linear infinite; }
  #ld3 div:nth-child(2) {
    top: -20px;
    background: #156d9c;
    animation: ld3_div2 2s linear infinite; }
  #ld3 div:nth-child(3) {
    left: 20px;
    background: #F39237;
    animation: ld3_div4 2s linear infinite; }
  #ld3 div:nth-child(4) {
    left: -20px;
    background: #ced414;
    animation: ld3_div3 2s linear infinite; }

@keyframes outercontainer {
  100% {
    transform: rotate(360deg); } }
@keyframes ld3_div1 {
  0% {
    top: 20px; }
  25% {
    top: 0; }
  50% {
    top: 20px; }
  75% {
    top: 0; }
  100% {
    top: 20px; } }
@keyframes ld3_div2 {
  0% {
    top: -20px; }
  25% {
    top: 0; }
  50% {
    top: -20px; }
  75% {
    top: 0; }
  100% {
    top: -20px; } }
@keyframes ld3_div3 {
  0% {
    left: -20px; }
  25% {
    left: 0; }
  50% {
    left: -20px; }
  75% {
    left: 0; }
  100% {
    left: -20px; } }
@keyframes ld3_div4 {
  0% {
    left: 20px; }
  25% {
    left: 0; }
  50% {
    left: 20px; }
  75% {
    left: 0; }
  100% {
    left: 20px; } }