.aboutContainer {
  height: 90vh;
}

.message {
  color: #7fa8a8;
  font-size: 19px;
  margin-top: 90px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-right: 26px;
  transition:  2s, color 1s;
}

.messageContainer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.messageContainer a {
  color: #2f2fb8;
  margin-top: 2px;
  font-size: 40px;
 
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}


