footer {

    margin-top: 2em;
    padding: 2em;


    background-color: #EFF3F6;
    color:#2F3749;
    font-size: 12px;
    font-weight: lighter;

    display: flex;

    section { position: relative; }
    section::before { content: '|'; display:inline-block; margin:0 1em; }
    section:first-of-type { margin-left:auto; } /* push it right */
    section:first-of-type::before { content: none; }

    label, input { cursor: pointer; }

    a {
        text-decoration: none;
        color: grey;
        
        i {color: #2F3749; font-size: 120%;}

    }

    // strong::after { content: '|'; display:inline-block; margin:0 1em; }
    // strong:last-of-type::after { content: none; }

}

#beacon-response {
    display: none; white-space: pre-wrap;
    position:fixed; top:10vh; bottom:10vh; right:10vw; left:10vw;
    box-shadow: 0 0 50px 0px #c3c3c3;
    z-index:100;
    background:white;
    padding:1em;
    overflow:auto;
    box-sizing:border-box;
    // border-top: 1px solid #E5E8EA;
    border-radius: 5px;

}

#beacon-request {
    display:none;
    position:absolute; right:0; bottom:2em;
    box-shadow: 0 0 50px 0px #c3c3c3;
    width:60vw;
    padding:1em;
    box-sizing:border-box;
    z-index:101;
    background:white;
    // border-top: 1px solid #E5E8EA;
    border-radius: 5px;
    text-align:center;
}


input#beacon-request-trigger:checked ~ #beacon-request { display:block; }
input#beacon-response-trigger:checked ~ #beacon-response { display:block; }
