.chartsModule{
    display: flex;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}



#chartEthnicity {
    width: 900px;
    margin: 38px;
}

.back{
    background: #f1f1f6;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.back:hover{
    background: #ffffff;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#chartFilteredEthnicity{
    height: 700px !important;
    width: 700px !important;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 2px;
}

#chartFilteredEthnicity2{
    width: 400px !important;
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 2px;
}

.moduleFiltered{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 417px;
    margin-top: 60px;
}

#chartFilteredDisease{
    width: 700px !important;
    height: 700px !important;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 2px;
}

#chartFilteredDisease2{
    width: 400px !important;
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 2px;
}



#chartGeo{ 
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ethFilters{
    display: flex;
    margin-top: 31px;
    align-items: center;
    justify-content: center;
}

.diseasesFilters{
    display: flex;
    margin-top: 31px;
    align-items: center;
    justify-content: center;
}

#filtersSelect{
    background: white;
    border: 1px solid #8388ca;
    font-size: medium;
    border-radius: 5px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    height: 29px;
    box-shadow: 1px 2px 2px #cecece;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
}


#ethnicitiesSelect{
    background: white;
    border: 1px solid #8388ca;
    font-size: medium;
    border-radius: 5px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 29px;
    box-shadow: 1px 2px 2px #cecece;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
}

#diseasesSelect{
    background: white;
    border: 1px solid #8388ca;
    font-size: medium;
    border-radius: 5px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 29px;
    box-shadow: 1px 2px 2px #cecece;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
}

.buttonSubmit{
    font-family: system-ui;
    font-variant-caps: all-petite-caps;
    font-size: 14px;
    cursor: pointer;
    color: #7d7f89;
    border: solid 1px #ece5e5;
    border-radius: 8px;
    padding: 5px;
    margin-left: 7px;
}

.buttonSubmit:hover{
    font-family: system-ui;
    font-variant-caps: all-petite-caps;
    font-size: 14px;
    cursor: pointer;
    background-color: #f1f8ff;
    border: solid 1px #f1f8ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 7px;
}

#apexcharts3avqrkqj{
    width: 900px !important;
  
}

#SvgjsSvg1043{
    width: 900px !important;
}

#SvgjsText5832{
    margin-bottom: 16px;
}

#chartSex{
   display: flex;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 14px;
   align-items: center;
   width: 400px !important;
}

#chartDiseases{
    width: 1000px;
    margin: 38px;
}

#chartFilteredDisease{
    height: 1000px;
}

#chartFilteredEthnicity{
    height: 1000px;
}