.nav2 {
	position: relative;
	width: 100vw;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
    display: flex;
    justify-content: center;
}
.nav2 a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.nav2 .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 200px;
}
a:nth-child(2) {
	width: 200px;
}
a:nth-child(3) {
	width: 200px;
}
a:nth-child(4) {
	width: 200px;
}
a:nth-child(5) {
	width: 200px;
}
.nav2 .start-home, a:nth-child(1):hover~.animation {
	width: 200px;
	left: 15.5%;
	background-color: #1abc9c;
}
.nav2 .start-about, a:nth-child(2):hover~.animation {
	width: 200px;
	left: 29%;
	background-color: #e74c3c;
}
.nav2 .start-blog, a:nth-child(3):hover~.animation {
	width: 200px;
	left: 43%;
	background-color: #3498db;
}
.nav2 .start-portefolio, a:nth-child(4):hover~.animation {
	width: 200px;
	left: 57%;
	background-color: #9b59b6;
}
.nav2 .start-contact, a:nth-child(5):hover~.animation {
	width: 200px;
	left: 71%;
	background-color: #e67e22;
}


button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  
  button:focus,
  input:focus {
    outline: 0;
  }
  

