.navBar {
  background-image: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  position: sticky;
  width: 100vw;
  height: 76px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-shadow: 6px 5px 5px #a3a0a0;
}

.members {
  font-size: 27px !important;
}

.home {
  width: 30px;
}

.navBar a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-variant: all-petite-caps;
  margin-right: 80px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.mainPage {
  margin-right: 11% !important;
}

.homeIcon {
  width: 50px;
}

.searchIcon2 {
  width: 40px;
  margin-top: 6px;
  margin-right: 3vw;
}

.selectedHome {
  display: flex;
  justify-content: center;
  color: black;
}

.home {
  display: flex;
  justify-content: center;
  color: white
}

.network {
  color: white;
}

.selectedNetwork {
  color: black !important;
  ;
}

.login {
  color: white;
}

.selectedLogin {
  color: black !important;
}


.dropdown-menu {
  position: absolute;
  top: 80px;
  right: 19px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  padding: 4px;
  width: 150px;
  color: aliceblue;
  font-size: 14px;
  font-weight: bold;
}


.active2 {
  background-color: #6ac5ff;
  border-radius: 1px;
  position: absolute;
  margin-top: -31px;
  margin-right: 52px;
  border: none;
  width: 98px;
}


.navBar a:hover {
  color: #E45A51 !important;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin-top: 10px auto;
}


.userIcon {
  width: 26px;
  margin-right: 10px;
}

.positionLink {

  font-size: 14px !important;
  padding-bottom: 7px;
  padding-top: 18px;

}

.userMenu {
  display: flex;
  flex-direction: column;
  margin-left: -63px;

}





$color-primary: #656569;
$color-secondary: #ff5858;
$color-neutral-lt: #fff;
$color-neutral-med: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
$color-neutral-dk: rgb(255, 255, 255);
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-no-hov: "a:link, a:visited, a:active";
$headings-font: "Saira Semi Condensed", sans-serif;
$shadow: 0px 3px 10px rgba(94, 94, 98, 0.1);

@mixin main-gradient {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
}

@mixin main-gradient2 {
  background: #c8c7c7;
}

@mixin shadow-box {
  background-color: $color-neutral-lt;
  box-shadow: $shadow;
}

@mixin skew {
  transform: skew(-20deg);
}

@mixin unskew {
  transform: skew(20deg);
}

/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}


/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
}

#home {
  background-color: #ddd;
}

#about {
  background-color: #aaa;
}

#work {
  background-color: #888;
}

#contact {
  background-color: #666;
}

/*-------------Helpers-------------*/
.skew {
  @include skew;
}

.un-skew {
  @include unskew;
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: scroll;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  @include shadow-box;
  display: flex;
  flex-direction: column;
  font-family: $headings-font;
  height: 73px;
  overflow: scroll;

  &.nav-visible {
    height: 100%;
    overflow: auto;
  }
}

.nav {
  display: flex;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}


.nav-link2,
.logo {
  padding: 0 1em;
}


span.gradient {
  @include main-gradient;
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;

  &:hover {
    animation-name: logo-hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
}

span.gradient2 {
  @include main-gradient2;
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;

  &:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.90, 0.85);
  }
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: $color-neutral-lt;
}

h1.logo #{$a-tags} {
  text-decoration: none;
  color: $color-neutral-lt;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid $color-neutral-med;
}

.nav-link2 {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid $color-neutral-med;
}

#{$a-tags-no-hov} {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: $color-primary;
  padding-left: 2em;
  padding-right: 2em;
}


#nav-wrapper {
  overflow: scroll;
}

#nav {
  overflow: scroll;
  flex-direction: row;
  height: 71px;
}

.nav-link {
  border-top: none;
}

.nav-link2 {
  border-top: none;
}

.right {
  overflow: scroll;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 2.5em;
  height: auto;
}

.btn-nav {
  display: none;
}

.nav #{$a-tags-no-hov} {
  &.active {
    @include main-gradient;
    color: white !important;
  }
}

.nav-link-span {
  @include unskew;
  margin-right: 20px;
  transform: skew(20deg);
  display: inline-block;
  margin-top: 10px;
}

.questionLogo3 {
  width: 20px;
  z-index: 100;
}

.helpButton3 {
  margin-right: -49px;
  margin-top: 14px;
  width: 50px;
}

.questionLogo3:hover {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border-radius: 10px;
}

.nav-link2 {
  margin-left: 50px;
}

.nav-link2-span {
  @include unskew;
  margin-right: 20px;
  transform: skew(20deg);
  display: inline-block;
  margin-top: 10px;
}

.nav-link {
  @include skew;
  color: #777;
  text-decoration: none;

  &:last-child {
    padding-right: 3em;
  }
}

.nav-link2 {
  @include skew;
  color: #777;
  text-decoration: none;

  &:last-child {
    padding-right: 3em;
  }
}

a:hover.nav-link:not(.active) {
  color: $color-neutral-dk;
  background: $color-neutral-med  !important;
  background: linear-gradient(45deg, $color-neutral-lt, #ddd);
}

a:hover.nav-link2:not(.active) {
  color: $color-neutral-dk;
  background: $color-neutral-med  !important;
  background: linear-gradient(45deg, $color-neutral-lt, #ddd);
}


@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }

  100% {
    padding-right: 6em;
  }
}