.datasetsContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logoBeacon{
    width: 100px;
}
.datasetCard{
    width: 40vw;
    margin: 9px;
    margin-left: 24px;
    /* border: 2px solid #3b9ad5; */
    padding: 16px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(179, 179, 179, 0.22) 0px 10px 10px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;

}


p{
    font-size: 14px;
    font-weight: normal;
    color: rgb(61 60 60);
    line-height: 23px;
}

h1{
    font-size: 18px;
    font-weight: normal;
    margin: 14px;
    color: white;
}

.line{
    width: 300px;
    margin: 18px;
}

.datasetCard a{
    margin: 10px;
}

.tittle{
    width: 100%;
    background: #4f85bc;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resultsRecord h3{
    color: #34495e;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 16px;
}