.super-app-theme--header {
    background-color: rgb(215, 220, 222);

}

.pre{
    display: 'block';
    padding: '10px 30px';
    margin: '0';
    overflow: 'scroll';
    cursor: pointer;
    overscroll-behavior: contain;
    overflow-inline: scroll;
    
}


.MuiDataGrid-root {

    margin-left: 70px;
    margin-top: 5px;
    width: 88vw;
    margin-right: 5px;
    overflow-inline: scroll;

}

.MuiFormControl-root label {

    visibility: hidden;
    margin: 10px;
}

.cardTableButton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
}


.MuiDataGrid-cellContent {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    white-space: pre;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    height: 200px;
    font-size: 12px;
    text-overflow:clip !important;
    overflow-inline: scroll;
}

.MuiDataGrid-root{
    margin-left: 5px;
}


