.super-app-theme--header{
    background-color: rgb(104, 172, 211);
 
}



.MuiDataGrid-root{

    margin-left:70px;
    margin-top: 5px;
    width: 88vw;
    margin-right: 5px;
  
}

.cardTableButton{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
}
