.search-box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.search-tr2 {
  display: flex;
  margin: 0px;
  width: 100%;
}
.search-tr1 {
  display: flex;
  width: 100%;
}
.searchTermInput {
  margin: 5px;
  width: 70%;
  height: 28px;
  margin-left: 34px;
}

.inputTerm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

thead {
  display: flex;
  border-bottom: solid 1px #e1e1e1;
  z-index: 2;
  background-color: white;
}

.thead1 {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
}

tbody {
  width: 60vw !important;
}

.thead2 {
  position: sticky;
  top: 61.4px;
  z-index: 2;
  width: 100%;
}

#table {
  display: flex;

  font-size: 15px;
  /* width: 90%; */
  height: fit-content;
  flex-direction: column;
  margin-left: 1vw;
}

.tableWrapper {
  height: 100vh;
  width: 85vw;
  overflow: scroll;
  display: flex;

  justify-content: center;
}

.generalContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.th1 {
  display: flex;
  width: 65%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  margin-left: 21px;
  overflow: auto;
  font-size: 13px;
}

.th3 {
  display: flex;
  width: 50%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  margin-left: 20px;
  overflow: auto;
  font-size: 13px;
}
.th2 {
  display: flex;
  width: 68%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  margin-left: 20px;
  overflow: auto;
  font-size: 13px;
}

.tag-box input {
  display: none !important;
}

.tag-box {
  width: 100vw;
}

.tag-box ul {
  display: flex !important;
  flex-wrap: wrap !important;
}

.tag-box ul {
  background: white !important;
  display: flex !important;
  flex-wrap: wrap !important;
  z-index: 0 !important;
}

.tag-box-pills li {
  margin-bottom: -4px !important;
  margin-left: 10px !important;
  margin-right: 3px !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  /* box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15); */
  padding: 3px;
  background-color: rgb(239 239 239) !important;
  cursor: text !important;
  height: auto !important;
  overflow-y: visible !important;
  overflow-x: hidden !important;
  font-size: 14px !important;
  padding: 3px !important;
  margin-top: 6px !important;
}

.tag-box-pill button {
  font-size: 14px;
}

.th2 {
  display: flex;
  width: 68%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-top: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  align-items: center;
  font-size: 13px;
}

.th3 {
  display: flex;
  width: 50%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.th4 {
  display: flex;
  width: 52%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.th5 {
  display: flex;
  width: 50%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.th6 {
  display: flex;
  width: 50%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.th7 {
  display: flex;
  width: 50%;
  /* height: 100%; */
  /* justify-content: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.select-checkbox {
  cursor: pointer;
  margin-right: 7px;
}

.searchTermInput1 {
  width: 60%;
  height: 28px;
  margin-left: 23px;
}

tr {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.terms1 {
  background-color: #e7eef5;
  border-bottom: solid #3d72a6;
  width: 100%;
}

.terms2 {
  width: 100%;
}

.checkbox {
  margin-right: -25px;
}

.checkbox2 {
  border: none;
}

@media (max-width: 1280px) {
  tbody {
    width: 90vw !important;
  }
  .search-tr2 {
    display: flex;
    margin: 0px;
    width: 100%;
  }
  .search-tr1 {
    display: flex;
    width: 100%;
  }
  .searchTermInput {
    margin: 5px;
    width: 70%;
    height: 28px;
    margin-left: 34px;
  }
  .tableWrapper {
    height: 100vh;
    width: 95vw;
    overflow: scroll;
    display: flex;
    justify-content: center;
  }
}
