* { margin: 0; padding: 0; }
.terminal {
    border-radius: 5px 5px 5px 5px;
    position: relative;
}
.terminal .top {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px 5px 0 0;
}
.terminal .btns {
    position: absolute;
    top: 7px;
    margin-left: 15px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.title{
    text-align: center;
}
.red { background: #EC6A5F; border-color: #D04E42; }
.green { background: #64CC57; border-color: #4EA73B; }
.yellow{ background: #F5C04F; border-color: #D6A13D; }
.clear{clear: both;}
.terminal .body {
    background: black;
    color: #7AFB4C;
    padding: 100px;
    margin-left: 5px;
    overflow: auto;
    text-align: left;
    height: 300px;
}
.space {
    margin: 25px;
}


.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 70px;
    top: -10px;
  }
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
.prova{
    color: blue;
  }

.typewriter h3{
  color: #185177;
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#myDIV {
  display: none;
}

#example {
  display: none;
}

.result{
  margin-left: -100px;
  margin-top: -120px;
}

.links{
  display: inline-block;
}

.results{
  position: relative;
  display: inline;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding-left: 10px;
  padding-right: 10px;
}

td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope='col'] {
  background-color: #696969;
  color: #fff;
}

th[scope='row'] {
  background-color: #d7d9f2;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  display: block;
  height: 500px;
  overflow-y: scroll;
}

.false {
  padding: 1rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;
  
  border-left: 1px solid red;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.false:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #EC6A5F;
}

.false > :first-child {
  margin-top: 0;
}

.false > :last-child {
  margin-bottom: 0;
}

.true {
  padding: 1rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;
  
  border-left: 1px solid green;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.true:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #00ff99;
}

.true > :first-child {
  margin-top: 0;
}

.true > :last-child {
  margin-bottom: 0;
}

.none {
  padding: 1rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;
  
  border-left: 1px solid grey;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.none:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid grey;
}

.none > :first-child {
  margin-top: 0;
}

.none > :last-child {
  margin-bottom: 0;
}

.kcbutton {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: #239B56;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #239B56;
}

.kcbutton:hover {
  color: white;
  box-shadow: 0 0 20px rgba(2, 45, 2, 0.6);
  background-color: #239B56;
}
.welcome{
  margin-top: 15px;
}

.valid {
  color: green;
}

.notvalid{
  color: red;
}

