.signInContainer {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.optionsContainer {
  width: 388px;
  border-radius: 8px;
  background: #f9f9f9;
  height: 43vh;
  border: 2px solid #dbe6ee;
  margin-top: 19vh;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.lsContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ls-login-image {
  width: 160px;
}

.noLsContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f0f0f0;
}

.Sign-inLS {
  text-decoration: none;
  height: 35px;
}

.login__field2 h6 {
  font-size: 14px !important;
  font-weight: 600;
  color: #3d72a6;
  margin-top: 12px;
  margin-bottom: 12px;
}

.login__field2 h6:hover {
  font-weight: 700;
}

.Sign-inNoLs {
  border: solid 1px #00c4f7;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

.Sign-inLS:hover{
  background-color: #a2ced8;
  height: 35px;
  border-radius: 4px;
  margin: 0px;
}

.Sign-inNoLs:hover {
  background-color: #a2ced8;
  border: solid 1px #87dff0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

@media (max-width: 860px) {
  .optionsContainer {
    width: 60vw;
    border-radius: 8px;
    background: #f9f9f9;
    height: 43vh;
    border: 2px solid #dbe6ee;
    margin-top: 19vh;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .ls-login-image {
    width: 140px;
  }

  .login__field2 h6 {
    font-size: 14px !important;
    width: 51vw;
  }
  .login__field2 h6:hover {
    font-weight: 700;
  }
}
