<form id="query"
      action="{{ request.path_qs }}"
      method="POST"
      accept-charset="UTF-8"
      autocomplete="off"
      enctype="multipart/form-data"
      data-cache-key="form"
      novalidate="">

  {{ csrf_token|safe }}
      
  <div class="form-container">

      <fieldset id="query-search">
	{% if assemblyIDs|length == 1 %}
	{# <!-- When there is only one --> #}
	<input type="hidden" name="assemblyId" value="{{ assemblyIDs[0] }}" />
	{% else %}
	{# <!-- When there are many (or none) --> #}
	<select name="assemblyId">
          {% for assemblyID in assemblyIDs %}
	  <option value="{{ assemblyID }}">{{ assemblyID }}</option>
	  {% endfor %}
	</select>
	{% endif %}
        <section>
	  <input type="text"
		 name="query"
		 required 
		 data-lpignore="true"
		 placeholder="For example  10 : 12345 A > T"
		 value="" />
	  Chromosome : Position ReferenceBase &gt; (AlternateBase|VariantType)
        </section>
        {{ form.includeDatasetResponses }}
        <button>
          <i class="fas fa-search"></i>
          <p>Search</p> 
        </button>
      </fieldset>



{# <!-- ========================= -->






      <fieldset id="query-datasets">
        <div id="datasets-header">
            <p>Datasets</p>
            <p><span>All</span>  <span>None</span></p>
        </div>
        <section>
          {% for dataset_id, authorized, variantCount in datasets %}
            {% if authorized %}
              <label>
                <input type="checkbox" name="datasetIds" value="{{ dataset_id }}" {% if dataset_id in selected_datasets %}checked{% endif %}/>
                {{ dataset_id }}{% if variantCount %} ({{ variantCount }} variant{{ variantCount|pluralize }}){% endif %}
              </label>
            {% else %}
              <label class="dataset-not-authorized">
                <input type="checkbox" disabled name="datasetIds" value="{{ dataset_id }}" />
                {{ dataset_id }}
              </label>
            {% endif %}
          {% endfor %}
        </section>
        </fieldset>

      <fieldset id="query-filters">
        <div id="filters-header">
          <p>Filters <i class="filter-add fas fa-plus-circle"></i></p>
        </div>

        {% for f in filters %}
          <section>
            <span>{{ f|convert2label }}</span>
            <input type="text" value="{{ f }}" {% if not f %}placeholder="HP:0011007>=49 or PATO:0000383 or EFO:0009656" {% endif %}name="filters" data-lpignore="true" />
            <i class="filter-remove fas fa-minus-circle"></i>
          </section>
          {% empty %}
          <section>
            <input type="text" value="" placeholder="HP:0011007>=49 or PATO:0000383 or EFO:0009656" name="filters" data-lpignore="true" />
            <i class="filter-remove fas fa-minus-circle"></i>
          </section>
        {% endfor %}
      </fieldset>







      <!-- ========================= --> #}
  </div>
</form>
