.h1Menu{
  color: white !important;
}
@media (min-width: 1410px) {
  /* … */
  .nav4 {
    display: none;
  }

  #copydata h1 {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 7px;
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black !important;
    text-decoration: none !important;
    font-weight: 400;
  }
  .userNameSmallScreen {
    display: none;
  }
  .userName {
    display: none;
  }
  .menuNav {
    display: none;
  }

  .containerUserName h5 {
    color: rgb(210 252 255);
    font-weight: bold;
    /* width: 150%; */
    display: flex;
    justify-content: center;
    font-size: 11px;
    width: 120px;
    margin-top: 2px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    align-content: center;
    align-items: center;
  }

  .containerLogOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
  }

  .containerUserName {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .navB {
    display: flex;
    width: 100vw;
    position: relative;
    height: 62px;
    background-color: #4480bd;
    font-size: 0;
    z-index: 2;
  }

  .nav2 {
    width: 10%;
    display: flex;
    justify-content: flex-start;
  }
  .nav3 {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav2 a {
    line-height: 57px;
    height: 100%;
    font-size: 12px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .nav3 a {
    line-height: 57px;
    height: 100%;
    font-size: 12px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .navB .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }

  .Individuals2 {
    width: 120px;
    background-color: #1abc9c;
  }

  .Individuals {
    width: 120px;
  }

  .Biosamples2 {
    width: 120px;
    background-color: #e74c3c;
  }
  .Biosamples {
    width: 120px;
  }

  .Variants {
    width: 120px;
  }

  .Variants2 {
    width: 120px;
    background-color: #3498db;
  }

  .Runs {
    width: 120px;
  }
  .Runs2 {
    width: 120px;
    background-color: #9b59b6;
  }

  .Analyses {
    width: 120px;
  }
  .Analyses2 {
    width: 120px;
    background-color: #e67e22;
  }

  .Cohorts {
    width: 120px;
  }
  .Cohorts2 {
    width: 120px;
    background-color: #5be57b;
  }

  .Cross-queries {
    width: 120px;
  }

  .Cross-queries2 {
    width: 120px;
    background-color: #d4c223;
  }

  .Members {
    width: 153px;
  }

  .Members2 {
    width: 153px;
    background-color: #4961b8;
  }

  .Members3 {
    width: 156px;
  }

  .Members4 {
    width: 156px;
    background-color: #4961b8;
  }

  .About {
    width: 128px;
  }

  .About2 {
    width: 126px;
    background-color: #e575dd;
  }

  .About6 {
    width: 60px;
    background-color: #e575dd;
  }

  .Sign-in6 {
    width: 136px;
  }

  .Sign-in5 {
    width: 136px;
    background-color: #0c7a7a;
  }

  .Sign-in6:hover ~ .animation {
    width: 112px;
    right: 16px;
    background-color: #0c7a7a;
  }

  .Members3:hover ~ .animation {
    background-color: #4961b8;
    width: 150px;
    right: 290px;
  }
  .nav3 .Sign-in3 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    width: 96px;
  }

  .nav3 .Sign-in4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin-right: 50px;
  }

  .Sign-in3:hover ~ .animation {
    width: 96px;
    border-radius: 2px;
    background-color: #7a9f9f;
  }

  .Sign-in4 {
    width: 176px;
    right: 0px;
    background-color: #7a9f9f;
  }

  .ls-login-image2 {
    width: 19px;
    margin-right: 6px;
    margin-top: 1px;
  }

  .nav3 .About {
    width: 128px;
  }

  .nav3 .About2 {
    width: 128px;
  }

  .Members:hover ~ .animation {
    width: 150px;
    right: 138px;
    background-color: #4961b8;
  }

  .Home2 {
    width: 120px;

    background-color: #acc2c1;
  }

  .Home6 {
    width: 123px;
  }

  .Home5 {
    width: 123px;
    background-color: #acc2c1;
  }

  .Home6:hover ~ .animation {
    background-color: #acc2c1;
    right: 458px;
    width: 100px;
  }

  .containerUserName:hover ~ .animation {
    background-color: #eb9662;
    right: 0px;
    width: 260px;
  }

  .Home:hover ~ .animation {
    background-color: #acc2c1;
    right: 298px;
    width: 100px;
  }

  .Home {
    width: 120px;
  }

  .Home6 ion-icon {
    margin-top: 16px;
    font-size: 26px;
  }

  .Home5 ion-icon {
    margin-top: 16px;
    font-size: 26px;
  }

  .Home ion-icon {
    margin-top: 16px;
    font-size: 26px;
  }

  .Home2 ion-icon {
    margin-top: 16px;
    font-size: 26px;
  }

  .Home3 .active {
    margin-top: 30px;
  }

  .About:hover ~ .animation {
    width: 116px;
    right: 143px;
    background-color: #e575dd;
  }

  .About5:hover ~ .animation {
    width: 76px;
    right: 19.5%;
    background-color: #e575dd;
  }

  .About5 {
    width: 60px;
  }

  .Individuals:hover ~ .animation {
    width: 120px !important;
    left: 0px !important;
    background-color: #1abc9c !important;
  }
  .Biosamples:hover ~ .animation {
    width: 120px;
    left: 120px;
    background-color: #e74c3c;
  }

  .Variants:hover ~ .animation {
    width: 120px;
    left: 120px;
    background-color: #3498db;
  }

  .Runs:hover ~ .animation {
    width: 120px;
    left: 240px;
    background-color: #9b59b6;
  }
  .Analyses:hover ~ .animation {
    width: 120px;
    left: 480px;
    background-color: #e67e22;
  }
  .Cohorts:hover ~ .animation {
    width: 120px;
    left: 600px;
    background-color: #5be57b;
  }
  .Cross-queries:hover ~ .animation {
    width: 120px;
    left: 720px;
    background-color: #d4c223;
  }

  button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  button:focus,
  input:focus {
    outline: 0;
  }
}

@media (max-width: 1409px) {
  .menuNav2 {
    display: none;
  }

  #copydata h1 {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 7px;
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black !important;
    text-decoration: none !important;
    font-weight: 400;
  }

  .userNameSmallScreen {
    display: none;
  }
  .About {
    text-decoration: none;
  }

  .nav4Container {
    display: flex;
    width: 14px;
    z-index: 1;
  }

  .userNameOpenMenu {
    margin: 0px;
    font-size: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(138 160 232);
  }

  .userName {
    color: rgb(138 160 232);
    font-size: 11px;
    /* margin-bottom: 4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .Sign-in3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 96px;
  }

  .Sign-in4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .ls-login-image2 {
    width: 15px !important;
    margin-top: 23px !important;
    margin-bottom: 21px !important;
  }

  .Members {
    color: #e6eeeb;
    /* font-size: 7px; */
    text-decoration: none;
  }

  .Members2 {
    text-underline-offset: 6px;
    color: #ff8b00;
  }

  .Sign-in5 {
    text-underline-offset: 6px;
    color: #ff8b00;
  }

  .arrowUpIcon {
    width: 24px;
    margin-left: 10%;
    margin-bottom: -33px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 14px;
    margin-bottom: 12px;
    margin-left: 0px;
    width: -moz-fit-content;
    width: fit-content;
    /* margin-bottom: 5px; */
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none !important;
    font-weight: 500;
  }

  h1:hover {
    color: rgb(147, 209, 40) !important;
    font-weight: 600;
  }

  .Sign-in6 {
    color: #e6eeeb;
    text-decoration: none;
    height: 35px;
  }

  .menuLogo {
    width: 42px;

    margin-top: 8px;
  }
  .menuLogoHover {
    width: 42px;

    margin-top: 8px;
  }

  .buttonMenu:hover .menuLogo,
  .buttonMenu .menuLogoHover {
    display: none;
  }
  .buttonMenu:hover .menuLogoHover {
    display: inline;
  }

  .buttonMenu {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
  }

  .menuNav {
    background-color: #235c94;
    height: 160px;
    width: 145px;
    margin-top: 22px;
    border-radius: 9px;
    /* margin-right: 53px; */
    margin-left: -51px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: -7vw; */
    align-items: center;
  }

  .navB {
    display: flex;
    width: 100vw;
    position: relative;
    height: 57px;
    background-color: #3d72a6;
    font-size: 0;
    z-index: 2;
  }

  .nav2 {
    width: 88vw;
    display: flex;
    justify-content: flex-start;
  }
  .nav4 {
    /* width: 100%; */
    display: flex;
    /* place-content: center flex-start; */
    flex-direction: column;
  }
  .nav3 {
    width: 30%;
    display: none;
  }
  .nav2 a {
    line-height: 57px;
    height: 100%;
    font-size: 12px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .navB .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }

  .Individuals2 {
    width: 120px;
    background-color: #1abc9c;
  }

  .Individuals {
    width: 120px;
  }

  .Biosamples2 {
    width: 120px;
    background-color: #e74c3c;
  }
  .Biosamples {
    width: 120px;
  }

  .Variants {
    width: 120px;
  }

  .Variants2 {
    width: 120px;
    background-color: #3498db;
  }

  .Runs {
    width: 120px;
  }
  .Runs2 {
    width: 120px;
    background-color: #9b59b6;
  }

  .Analyses {
    width: 120px;
  }
  .Analyses2 {
    width: 120px;
    background-color: #e67e22;
  }

  .Cohorts {
    width: 120px;
  }
  .Cohorts2 {
    width: 120px;
    background-color: #5be57b;
  }

  .Cross-queries {
    width: 120px;
  }

  .Cross-queries2 {
    width: 120px;
    background-color: #d4c223;
  }

  .Individuals:hover ~ .animation {
    width: 120px !important;
    left: 0px !important;
    background-color: #1abc9c !important;
  }
  .Biosamples:hover ~ .animation {
    width: 120px;
    left: 120px;
    background-color: #e74c3c;
  }

  .Variants:hover ~ .animation {
    width: 120px;
    left: 120px;
    background-color: #3498db;
  }

  .Runs:hover ~ .animation {
    width: 120px;
    left: 240px;
    background-color: #9b59b6;
  }
  .Analyses:hover ~ .animation {
    width: 120px;
    left: 480px;
    background-color: #e67e22;
  }
  .Cohorts:hover ~ .animation {
    width: 120px;
    left: 600px;
    background-color: #5be57b;
  }
  .Cross-queries:hover ~ .animation {
    width: 120px;
    left: 720px;
    background-color: #d4c223;
  }

  button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  button:focus,
  input:focus {
    outline: 0;
  }
}

@media (max-width: 1030px) {
  .ls-login-image2 {
    width: 17px;
    margin-right: -11px;
    margin-top: 21px !important;
  }

  ion-icon {
    font-size: 26px !important;
  }

  .userNameSmallScreen {
    display: flex;
    font-size: 11px;
    width: 100%;
    margin-top: 2px;
    color: rgb(138 160 232);
    justify-content: center;
  }
  .userName {
    display: none;
  }
  .nav4Container {
    display: flex;
    z-index: 1;
  }
  .Sign-in4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row-reverse;
    margin-top: 2px;
    margin-bottom: -8px;
  }

  .Sign-in3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row-reverse;
    margin-bottom: -17px;
  }

  .menuContainer {
    z-index: 1;
  }

  .divOutsideClickHandle {
    z-index: 1;
  }

  .Members {
    color: #e6eeeb;
    /* font-size: 7px; */
    cursor: pointer;
  }

  .Sign-in5 {
    text-underline-offset: 6px;
    color: #ff8b00;
  }

  .Members2 {
    text-underline-offset: 6px;
    color: #ff8b00;
  }

  .arrowUpIcon {
    width: 24px;
    margin-bottom: -33px;
    margin-left: 51px;
  }

  h1:hover {
    color: rgb(147, 209, 40) !important;
    font-weight: 600;
  }

  h1 {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  .Individuals2 {
    width: 157px;
    height: 21px;
    margin-left: 2px;
    background-color: #1abc9c;
    border-radius: 4px;
    margin-top: 5px;
  }

  .Variants2 {
    width: 157px;
    height: 22px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .Biosamples2 {
    width: 157px;
    height: 27px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .Members2 {
    width: 126px;
    height: 25px;
    border-radius: 4px;
    background-color: #4961b8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

      .Sign-in5 {
        margin-bottom: 10px;
        width: 123px;
        height: 21px;
        margin-top: 2px;
        /* margin-left: 2px; */
        border-radius: 4px;
        display: flex;
        background-color: #7a9f9f;
        align-items: center;
        justify-content: center;
    }

  .Runs2 {
    width: 157px;
    height: 27px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .Cohorts2 {
    width: 157px;
    height: 27px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .Cross-queries2 {
    width: 157px;
    height: 27px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .Sign-in6 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row-reverse;
    margin-top: 2px;
    margin-bottom: -8px;
  }

  .Analyses2 {
    width: 157px;
    height: 27px;
    margin-left: 2px;
    border-radius: 4px;
  }

  .menuLogo {
    width: 54px;
    margin-top: 1px;
  }

  .menuLogoHover {
    width: 54px;
    margin-top: 1px;
  }

  .buttonMenu:hover .menuLogo,
  .buttonMenu .menuLogoHover {
    display: none;
  }
  .buttonMenu:hover .menuLogoHover {
    display: inline;
  }

  .nav2 {
    width: 70%;
    display: none;
    justify-content: flex-start;
  }
  .nav3 {
    width: 30%;
    display: none;
  }

  .nav4 {
    width: 83%;
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    align-items: center;
  }

  .navB {
    display: flex;
    width: 100vw;
    position: relative;
    height: 57px;
    background-color: #3d72a6;
    font-size: 0;
    justify-content: center;
    z-index: 2;
  }

  .buttonMenu {
    display: flex;
    width: 100%;
    align-content: center !important;
    justify-content: center;
    align-items: center !important;
  }

  .menuNav {
    display: none;
  }

  #copydata h1 {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 7px;
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black !important;
    text-decoration: none !important;
    font-weight: 400;
  }
  .menuNav2 {
    background-color: #235c94;
    height: fit-content;
    width: 126px;
    margin-top: 22px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    /* margin-right: 118px; */
    display: flex;
    /* align-content: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
  }
}
