version: '3.1'

networks:
  beacon-priv:
  idp-priv:
  pub:
  my-app-network:
    external: true

services:

  ###########################################
  # beacon-ri-tools
  ###########################################

  beacon-ri-tools:
    image: beacon2ri/beacon_reference_implementation:v2.0.0
    hostname: beacon-ri-tools
    networks:
      - beacon-priv 
    tty: true

  ###########################################
  # training-ui
  ###########################################

  training-ui:
    image: beacon2ri/training_ui:v0.1
    hostname: beacon_training_ui    
    ports:
      - 9000:8080
    networks:
      - beacon-priv

  ###########################################
  # MongoDB Database
  ###########################################

  db:
    image: mongo:5
    hostname: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: beacon
    volumes:
      - ./mongo-init/:/docker-entrypoint-initdb.d/:ro
    networks:
      - beacon-priv
      - my-app-network

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    networks:
      - beacon-priv

  ###########################################
  # Beacon
  ###########################################

  beacon:
    build: ..
    image: egarchive/beacon:2.0
    hostname: beacon
    container_name: beacon
    volumes:
      # - ../beacon:/beacon/beacon  # inject the code, so we see the modifications "live"
      # - ../ui/static:/beacon/ui/static
      # - ../ui/templates:/beacon/ui/templates
      - ./conf.py:/beacon/beacon/conf.py
      - ./logger.yml:/beacon/beacon/logger.yml
      - ./ontologies:/beacon/ontologies
    ports:
      - "5050:5050"
    networks:
      - beacon-priv
      - pub
      - idp-priv
      - my-app-network
    working_dir: '/beacon'
    entrypoint: ['python','-m','beacon']
    # entrypoint: ['/bin/sleep','100000000']

  ###########################################
  # Dummy Permissions server
  ###########################################
  
  permissions:
    image: egarchive/beacon:2.0
    hostname: beacon-permissions
    container_name: beacon-permissions
    volumes:
      - ../permissions/:/beacon/permissions/  # inject the code, so we see the modifications "live"
      - ./logger.yml:/beacon/logger.yml
    ports:
      - "5051:5051"
    networks:
      - beacon-priv
      - pub
      - idp-priv
      - my-app-network
    #entrypoint: ['/bin/sleep','100000000']
    working_dir: '/beacon'
    entrypoint: ['python','-m', 'permissions']

  ###########################################
  # Local Identity Provider
  ###########################################
  # Keycloak is so slow to boot that the DB goes faster
  # and we don't need a delay in-between. We can rely on the depends_on only.

  idp:
    image: jboss/keycloak
    hostname: idp
    container_name: idp
    environment:
      # - KEYCLOAK_FRONTEND_URL=http://idp:8080/auth
      # - KEYCLOAK_LOGLEVEL=DEBUG
      # - ROOT_LOGLEVEL=DEBUG
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=secret
      - DB_USER=admin
      - DB_PASSWORD=secret
      - DB_VENDOR=postgres
      - DB_ADDR=idp-db
      - DB_PORT=5432
      - DB_DATABASE=keycloak
      #- DB_SCHEMA=public
      - KEYCLOAK_IMPORT=/tmp/beacon-realm.json -Dkeycloak.profile.feature.upload_scripts=enabled -Dkeycloak.profile.feature.token_exchange=enabled -Dkeycloak.profile.feature.admin_fine_grained_authz=enabled
      #- KEYCLOAK_HOSTNAME=localhost
      #- KC_HOSTNAME_URL=https://beacon-network-test2.ega-archive.org
      #- KC_HOSTNAME_ADMIN_URL=https://beacon-network-test2.ega-archive.org
    volumes:
      - ./beacon-realm.json:/tmp/beacon-realm.json
    ports:
      - "8080:8080"
      - "9991:8443"
    networks:
      - pub
      - idp-priv 
    depends_on:
      - idp-db

  idp-db:
    image: postgres
    hostname: idp-db
    container_name: idp-db
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
    networks:
      - idp-priv 
      - my-app-network
  
  frontend:
    build:
      context: ../frontend
    command: ["yarn", "start" ]
    container_name: react
    depends_on:
      - beacon
    ports:
      - 3000:3000
    volumes:
      - ../frontend:/usr/src/app
