html {
  margin: 0px !important;
  height: 100vh;
  background: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.skipLimit {
  margin-top: 10px;
}

.searchButton {
  padding-right: 4px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 12px;
}

.modeVariantsQuery{
  color: rgba(12, 16, 64, 0.606);
    font-size: 16px;
    font-variant-caps: all-petite-caps;
}

.modeVariants{
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-variant-caps: all-petite-caps;
}

.modeVariants:hover{
  color: white;
  background-color: #e3eefe;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  margin-left: 20px;
}

.variantsFilters{
  width: 20vw;
  display: flex;
  margin-left: 7%;
}


.searchButton:hover {
  background: linear-gradient(356deg, #cee3e7 50%, #daecf0 80%);
  border-radius: 4px;
  margin-left: 22px;
}

.newSearchButton:hover {
  color: #4fb5f0;
}

.searchButton2 {
  cursor: pointer;
  /* margin-left: 26px; */
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.searchButton2:hover {
  background: linear-gradient(356deg, #cee3e7 50%, #daecf0 80%);
  border-radius: 14px;
}



.switchDescendants {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.switchDescendants h3 {
  color: #e16e00;
  text-transform: uppercase;
  margin-left: 3px !important;
  margin-top: 17px;
  font-size: 14px;
}

.multi-switch-container {
  width: 180px;
  background-color: white;
  border-color: black;
  height: 30px;
  margin-left: 14px;
}

.container-fluid {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  height: 35px;
}


.form-select {
  margin-right: 3px;
  cursor: pointer;
  border: 2px solid #e66f0f;
}

.form-select2 {
  height: 28px;
  margin-right: 3px;
  cursor: pointer;
  margin: 10px;
  margin-right: 30px;
  width: 89px;
}

.selectedOperator {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  font-size: medium;
  border-radius: 4px;
  width: 43px;
  height: 28px;
  box-shadow: 1px 2px 2px #cecece;
}

.newSearch {
  display: flex;
}



.chosen-value {
  background: white;
  border: 2px solid #e16e00;
  font-size: medium;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
  width: 350px;
  height: 29px;
}

.d-flex {
  display: flex;
}

.d-flex2 {
  display: flex;
  justify-content: flex-end;
}

.formSearch {
  width: 60vw;
  margin-right: 3px;
  background: white;
  border: 2px solid #8985c1;
  font-size: medium;
  /* margin: 10px; */
  border-radius: 10px;
  /* box-shadow: 2px 1px 2px #cecece; */
  height: 34px;
}

.searchIcon {
  width: 34px;

}

.forwardIcon {
  width: 24px;
  margin-left: 4px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.variantsContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputVariants{
  height: 14px;
  border: 1.5px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 34px;
}

.labelVariants{
  font-size: 13px;
  margin-bottom: 28px;
  margin-right: 4px;
  margin-left: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.labelVariantsTittle{
  font-size: 16px;
  margin-bottom: 27px;
  color: #d36d00;
  margin-right: 4px;
  margin-left: 18px;
  font-feature-settings: "smcp", "c2sc";
  font-variant-caps: all-small-caps;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.DivButtonVariants{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-top: -23px;
}

.buttonVariants{
  margin-right: 139px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(179, 179, 179, 0.22) 0px 1px 1px;
  padding: 7px;
  cursor: pointer;
}

.buttonVariants:hover{
  margin-right: 119px;
  margin-bottom: 20px;
  font-weight: 600;
  color:rgb(118, 151, 228);
 
}


.moduleVariants{
  display: flex;
  flex-direction: column;
}

.divFlex {
  width: 168%;
  display: flex;
  justify-content: flex-end;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.container2 {
  width: 100vw;
  display: flex;
  margin-bottom: 40px;
}

.alphanumContainer {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-left: 170px;
  margin-bottom: 10px;
}



.advContainer {

  display: flex;
  width: 50vw;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  margin-right: 58px;
  align-content: center;
  justify-content: center;
}


.alphanumContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}


.cinecaLogo {
  /* width: 400px; */
  height: 49px;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
}

.container1 a {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 20px;
}

.elixirLogo {
  height: 86px;
  margin-top: 29px;
}

select {

  background: white;
  border: 2px solid #e66f0f;
  font-size: medium;
  border-radius: 2px;
  width: 150px;
  height: 39px;
  box-shadow: 1px 2px 2px #cecece;
}

.listTerms {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}



.alphaIdModule {
  display: flex;
  flex-direction: column;
}

.selectedId {
  background: white;
  border: 1px solid rgba(201, 204, 244, 0.606);
  /* margin: 4px; */
  padding: 6px;
  box-shadow: 0px 1px 1px #a3a0a0;
  width: 197px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 3%;
  margin-left: 7%;
  margin-top: -9px;
  overflow: auto;
  height: 100px;
  width: 239px;
}

.selectedId option{
  padding: 3px;
  width: 230px;
}


.selectedId option:hover {
  background: #f6a558;
  width: 230px;
  padding: 3px;
}


.results {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
}

.resultSet {
  margin-top: -22px;
}

.cohortsModule {
  display: flex;
}

.tittleAlph {
  display: flex;
  margin-bottom: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}

hr {
  width: 85vw;
  margin-top: 6px;
  margin-bottom: 8px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.exampleQueries {
  border: none;
  background-color: #ffffff;
  color: #4d4b4b;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.bulbExample {
  display: flex;
  margin-left: 17px;
  margin-bottom: 10px;
  margin-top: 3px;
  align-items: center;
  margin-right: 20px;
}

.exampleQuery:hover {
  color: rgb(118, 151, 228);
}

.exampleQueries:hover {
  color: rgb(118, 151, 228);
}

.helpButton {
  display: flex;
  align-items: center;
  width: 188px;
  margin-left: 20px;
}



.logos {
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: flex-end;
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
  margin-bottom: -11px;
  margin-top: -16px;
}


.helpButton:hover {
  color: #86d2ff;
}

.bulbLogo {
  height: 16px;
  margin-right: 10px;
}

.arrowLogo {
  height: 12px;
}

.containerExtraSections {
  display: flex;
  flex-direction: column;
}


.questionLogo {
  width: 17px;
  margin-left: 8px;
}


.questionLogo:hover {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border-radius: 9px;
}

.questionLogo2 {
  width: 19px;
  /* margin-bottom: 10px; */
  margin-right: 7px;
}

.questionLogo2:hover {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border-radius: 9px;
}

.closeLogo {
  width: 25px;
  margin-left: -5px;
}

.closeLogo:hover {
  background: white;
  border-radius: 14px;
}

.additionalOptions {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.example {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  /* margin-bottom: -1px; */
  margin-left: 233px;
}

.extraSections {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}


.exampleQuery {
  border: none;
  /* border-color: #5454bc; */
  padding: 5px;
  cursor: pointer;
}

.exampleQueriesAlph {

  display: flex;
}

.exampleQueriesAlph button {
  margin-bottom: 10px;
  font-size: 14px;
}


#exampleQueries {
  border: none;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
}

.advSearch {
  margin-top: 5px;
  margin-left: 11px;
  width: fit-content;
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  padding: 7px;
  box-shadow: 0px 1px 2px #a3a0a0;
  border-radius: 3px;
  font-feature-settings: "pcap", "c2pc", "pcap";
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
  height: 36%;

}

.AdvSearchDiv {
  width: 100%;
  display: flex;
}

.advSearch:hover {
  background: #86d2ff;
}



h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
}

.buttonClass {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.advSearchModule {
  display: flex;
  width: 100%;
  flex-direction: column-reverse
}

.advSearch-module {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

#similarityCheck {
  width: 14px;
  margin-top: 5px;
  margin-left: 6px;
  cursor: pointer;
}

.IdForm {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  margin: 4px;
  padding: 6px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 222px;
  height: 12px;
  border-radius: 4px;
  overflow: auto;
}


.ValueForm {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  margin: 20px;
  padding: 6px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 16%;
  height: 12px;
  border-radius: 4px;

}

#operator {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-top: -40px; */
  width: 80px;

}

.operator {
  background: white;
  border: 2px solid #e66f0f;
  padding: 3px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 21%;
  border-radius: 2px;
}

.css-b62m3t-container {
  margin-top: -1px;
  margin-left: 10px;
}

.css-1fdsijx-ValueContainer {
  display: grid;
  width: 246px;
}


.filters {
  padding: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.filters:hover {

  color: rgb(118, 151, 228);
}

.ReactModal__Content--after-open {
  width: 30vw;
  height: 29%;
  position: absolute !important;
  inset: 35% !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: #e16e00 !important;
  overflow: auto !important;
  border-radius: 4px !important;
  outline: none !important;
  padding: 20px !important;
}

.ReactModal__Content--after-open p {
  font-size: 21px;
  font-weight: normal;
  color: white;
  line-height: 38px;
  padding: 4px;
}



@media (max-width: 800px) {

  .container1 a {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70%;
  }


  .searchButton {
    height: 30px;
    cursor: pointer;
  }


}