html {
  margin: 0px !important;
  height: 100vh;
  background: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.resultSetsDiv2 label h2 {
  font-size: 10px;
}
.skipLimit {
  margin-top: 10px;
}

.switchDescendants2 h3 {
  font-size: 10px;
  width: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
}
.switchDescendants2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 10px;
}

.resultSetsDiv2 .multi-switch-container {
  margin-left: -5px;
  margin-top: 8px;
}

.containerExtraSections2 {
  display: flex;
  flex-direction: column;
  margin-left: -32%;
  margin-top: 10px;
  margin-right: 14%;
}

.advSearch-module2 label h2 {
  font-size: 10px;
}
.advSearch-module2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.extraSectionVariantFormMode {
  display: flex;
}

.version {
  margin-bottom: 19px;
  margin-right: 46px;
  margin-top: 7px;
  color: rgb(102 116 152) !important;
  font-weight: 700 !important;
}

.beaconLogo {
  height: 45px;
  margin-top: 41px;
  margin-right: 31px;
}

.searchButton {
  padding-right: 4px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 12px;
}

.modeVariantsQuery {
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-variant-caps: all-petite-caps;
  margin-top: 16px;
}

.modeVariants {
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-variant-caps: all-petite-caps;
}

.modeVariantsBarMode {
  /* margin-bottom: 60px; */
  margin-top: -15px;
  margin-bottom: 31px;
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-feature-settings: 'pcap', 'c2pc', 'pcap', 'c2pc';
  font-variant-caps: all-petite-caps;
}

.modeVariantsBarMode:hover h2 {
  color: rgb(236, 149, 0) !important;
}

.modeVariants:hover h2 {
  color: rgb(236, 149, 0) !important;
}

.variantsFilters {
  width: 20vw;
  display: flex;
  margin-left: 7%;
}

.resultSetsDiv {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.containerTableResults {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.newSearchButton:hover {
  color: rgb(118, 151, 228);
}

.searchButton2 {
  cursor: pointer;
  /* margin-left: 26px; */
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.switchDescendants {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}

.switchDescendants h3 {
  color: #e16e00;
  text-transform: uppercase;
  margin-left: 3px !important;
  margin-top: 10px;
  font-size: 12px;
}

.container-fluid {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  height: 35px;
}

.form-select {
  margin-right: 3px;
  cursor: pointer;
  border: 2px solid #e66f0f;
}

.form-select2 {
  height: 28px;
  margin-right: 3px;
  cursor: pointer;
  margin: 10px;
  margin-right: 30px;
  width: 89px;
}

.test-example {
  padding: 2px;
}

.selectedOperator {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  font-size: medium;
  border-radius: 4px;
  width: 43px;
  height: 28px;
  box-shadow: 1px 2px 2px #cecece;
}

.newSearch {
  display: flex;
}

.chosen-value {
  background: white;
  border: 2px solid #e16e00;
  font-size: medium;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
  width: 350px;
  height: 29px;
}

.d-flex {
  display: flex;
}

.d-flex2 {
  display: flex;
  justify-content: flex-end;
}

.formSearch {
  width: 60vw;
  margin-right: 3px;
  background: white;
  border: 2px solid #8985c1;
  font-size: medium;
  /* margin: 10px; */
  border-radius: 10px;
  /* box-shadow: 2px 1px 2px #cecece; */
  height: 32px;
}

.searchIcon {
  width: 34px;
  margin-top: -1px;
}
.searchIcon:hover {
  width: 37px;
  margin-top: -3px;
}

.forwardIcon {
  width: 25px;
}

.forwardIcon:hover {
  background-color: #c8d4e6;
  padding: 4px;
  border-radius: 16px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: -48px;
}

.variantsContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.inputVariants {
  height: 24px;
  border: 1.5px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 30px;
  font-size: 12.5px;
  padding: 5px;
}

.labelVariants {
  font-size: 13.5px;
  margin-bottom: 18px;
  margin-right: 4px;
  margin-left: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.labelVariantsTittle {
  font-size: 16px;
  margin-bottom: 27px;
  color: #d36d00;
  margin-right: 4px;
  margin-left: 18px;
  font-feature-settings: 'smcp', 'c2sc';
  font-variant-caps: all-small-caps;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.DivButtonVariants {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -23px;
}

.buttonAlphanum {
  font-variant-caps: all-small-caps;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.buttonAlphanum:hover {
  font-variant-caps: all-small-caps;
  font-weight: 600;
  color: #d36d00;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.moduleVariants h3 {
  margin-top: -14px;
  color: #e16e00;
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 12px;
}

.btn-3 {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #34495e;
  font-size: 14px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 10px;
  /* margin-top: -10px; */
  /* margin-bottom: 35px; */
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.09);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.spanQE {
  display: block;
  padding: 8px 4px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.btn-3::before,
.btn-3::after {
  content: '';
  width: 0;
  height: 1.6px;
  position: absolute;
  transition: all 0.2s linear;
  background: #e07a1a;
}

.spanQE::before,
.spanQE::after {
  content: '';
  width: 1.6px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #e07a1a;
}

.btn-3:hover::before,
.btn-3:hover::after {
  width: 100%;
}

.btn-3:hover .spanQE::before,
.btn-3:hover .spanQE::after {
  height: 100%;
}

.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}

.spanQE::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0;
}
.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.spanQE::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}
.btn-3:hover .spanQE::after {
  transition-delay: 0.2s;
}
.btn-3:hover::before {
  transition-delay: 0.4s;
}
.btn-3:hover .spanQE::before {
  transition-delay: 0.6s;
}

.resultsOptions {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.buttonVariants {
  margin-top: 9px;
  margin-bottom: -14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px,
    rgba(179, 179, 179, 0.22) 0px 1px 1px;
  padding: 6px;
  cursor: pointer;
}

.buttonVariants:hover {
  margin-right: -2px;
  font-weight: 600;
  color: rgb(118, 151, 228);
}

.basesSection {
  margin-bottom: 30px;
  border: solid 1px #dadada;
  margin-top: 25px;
  box-shadow: rgba(207, 192, 192, 0.15) 1.4px 1.4px 2.2px;
}

.referenceBasesContainer {
  margin-top: 27px;
}

.moduleVariants {
  display: flex;
  flex-direction: column;
}

.variantExampleButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: solid #d6d5e1;
  padding: 4px;
  margin-left: 13px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 10px;
  box-shadow: 1px 1px 1px -1px #ffd8d8;
  text-transform: uppercase;
  color: rgba(12, 16, 64, 0.606);
  font-weight: 700;
}
.variantExampleButton:hover {
  background-color: #78beed;
  border: solid #06c;
}

.divFlex {
  width: 168%;
  display: flex;
  justify-content: flex-end;
}

.text-example {
  display: none;
}

.exampleQuery:hover {
  color: rgb(118, 151, 228);
}

.exampleQuery:hover .text-example {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #c8c8c8;
  background-color: #c8c8c8;
  color: black;
  width: fit-content;
  border-radius: 6px;
  margin-left: 10px;
  padding: 1px;
}

.examplesQueriesList {
  width: 111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container2 {
  width: 100vw;
  display: flex;
  margin-bottom: 40px;
}

.NavlinkVerifier {
  color: rgba(12, 16, 64, 0.606);
  font-size: 15px !important;
  font-feature-settings: 'pcap', 'c2pc';
  font-variant-caps: all-petite-caps;
  margin-top: -4px;
}
.NavlinkVerifier:hover {
  color: rgb(236, 149, 0) !important;
}

.alphanumContainer {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-left: 170px;
  margin-bottom: 10px;
}

.advContainer {
  display: flex;
  width: 50vw;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  margin-right: 58px;
  align-content: center;
  justify-content: center;
}

.alphanumContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.container1 a {
  display: flex;
  align-content: center;
  text-underline-offset: 4px;
  align-items: center;
}

.comming_message {
  margin: 80px;
  font-size: 18px;
}

select {
  background: white;
  border: 2px solid #e66f0f;
  font-size: medium;
  border-radius: 2px;
  width: 150px;
  height: 39px;
  box-shadow: 1px 2px 2px #cecece;
}

.listTerms {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.alphaIdModule {
  display: flex;
  flex-direction: column;
}

.selectedId {
  background: white;
  border: 1px solid rgba(201, 204, 244, 0.606);
  /* margin: 4px; */
  padding: 6px;
  box-shadow: 0px 1px 1px #a3a0a0;
  width: 197px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 3%;
  margin-left: 7%;
  margin-top: -9px;
  overflow: auto;
  height: 100px;
  width: 239px;
}

.selectedId option {
  padding: 3px;
  width: 230px;
}

.selectedId option:hover {
  background: #f6a558;
  width: 230px;
  padding: 3px;
}

.results {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
}

.resultSet2 {
  margin-top: -22px;
}

.cohortsModule {
  display: flex;
}

.tittleAlph {
  display: flex;
  margin-bottom: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}

hr {
  width: 85vw;
  margin-top: 6px;
  margin-bottom: 8px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.exampleQueries {
  border: none;
  background-color: #ffffff;
  color: #4d4b4b;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 33px;
}

.exampleQueries:hover {
  color: rgb(118, 151, 228);
}

.bulbExample {
  display: flex;
  align-items: center;
  border-left: 1.7px solid #f1f1f1;
}

.helpButton {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logos {
  display: flex;
  width: 100vw;
  align-items: flex-end;
  margin-bottom: -11px;
  margin-top: -16px;
  flex-direction: column;
}

.helpButton:hover {
  color: #86d2ff;
}

.bulbLogo {
  height: 16px;
  margin-right: 11px;
  margin-left: 4px;
}

.arrowLogo {
  height: 12px;
}

.containerExtraSections {
  display: flex;
  flex-direction: column;
}

.questionLogo {
  width: 17px;
  margin-left: 8px;
}

.questionLogo:hover {
  background: linear-gradient(356deg, #3893cb 50%, #419ed3 80%);
  border-radius: 9px;
}

.questionLogo2 {
  width: 19px;
  /* margin-bottom: 10px; */
  margin-right: 7px;
}

.questionLogo2:hover {
  background: linear-gradient(356deg, #3ca2e2 50%, #63acd6 80%);
  border-radius: 9px;
}

.closeLogo {
  width: 25px;
  margin-left: -5px;
}

.closeLogo:hover {
  background: white;
  border-radius: 14px;
}

.additionalOptions {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example {
  display: flex;
  align-items: center;
  margin-right: -117px;
  margin-top: 22px;
  margin-bottom: 22px;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: center;
}

.extraSections {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.exampleQuery {
  border: none;
  /* border-color: #5454bc; */
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.exampleQueriesAlph {
  display: flex;
}

.exampleQueriesAlph button {
  margin-bottom: 10px;
  font-size: 14px;
}

#exampleQueries {
  border: none;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
}

.advSearch {
  margin-top: 5px;
  margin-left: 11px;
  width: fit-content;
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  padding: 7px;
  box-shadow: 0px 1px 2px #a3a0a0;
  border-radius: 3px;
  font-feature-settings: 'pcap', 'c2pc', 'pcap';
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
  height: 36%;
}

.AdvSearchDiv {
  width: 100%;
  display: flex;
}

.advSearch:hover {
  background: #86d2ff;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
}

.buttonClass {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.advSearchModule {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.advSearch-module {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: -2px;
}

.loader2 {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ld3 {
  position: relative;
  animation: outercontainer 4s linear infinite;
}
#ld3 div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#ld3 div:nth-child(1) {
  top: 20px;
  background: #4ac985;
  animation: ld3_div1 2s linear infinite;
}
#ld3 div:nth-child(2) {
  top: -20px;
  background: #156d9c;
  animation: ld3_div2 2s linear infinite;
}
#ld3 div:nth-child(3) {
  left: 20px;
  background: #f39237;
  animation: ld3_div4 2s linear infinite;
}
#ld3 div:nth-child(4) {
  left: -20px;
  background: #ced414;
  animation: ld3_div3 2s linear infinite;
}

@keyframes outercontainer {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ld3_div1 {
  0% {
    top: 20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
@keyframes ld3_div2 {
  0% {
    top: -20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: -20px;
  }
}
@keyframes ld3_div3 {
  0% {
    left: -20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: -20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: -20px;
  }
}
@keyframes ld3_div4 {
  0% {
    left: 20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: 20px;
  }
}

#similarityCheck {
  width: 14px;
  margin-top: 5px;
  margin-left: 6px;
  cursor: pointer;
}

.IdForm {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  margin: 4px;
  padding: 6px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 222px;
  height: 12px;
  border-radius: 4px;
  overflow: auto;
}

.ValueForm {
  background: white;
  border: 2px solid rgba(12, 16, 64, 0.606);
  margin: 20px;
  padding: 6px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 16%;
  height: 12px;
  border-radius: 4px;
}

#operator {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-top: -40px; */
  width: 80px;
}

.operator {
  background: white;
  border: 2px solid #e66f0f;
  padding: 3px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 21%;
  border-radius: 2px;
}

.css-b62m3t-container {
  margin-top: -1px;
  margin-left: 10px;
}

.css-1fdsijx-ValueContainer {
  display: grid;
  width: 246px;
}

.filters {
  padding: 4px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 36px;
  margin-left: 27px;
}

.filters:hover {
  color: rgb(118, 151, 228);
}

.ReactModal__Content--after-open {
  width: 485px;
  font-size: 11px;
  height: 33%;
  position: absolute !important;
  inset: 35% !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: #be5930 !important;
  overflow: auto !important;
  border-radius: 4px !important;
  outline: none !important;
  padding: 16px !important;
}

.ReactModal__Content--after-open p {
  font-size: 16px;
  font-weight: normal;
  color: white;
  line-height: 30px;
  padding: 2px;
}
@media (max-width: 1409px) {
  .containerExtraSections2 {
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    margin-top: 9px;
    margin-right: 12%;
  }
}
@media (max-width: 1000px) {
  .extraSectionVariantFormMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .containerExtraSections2 {
    display: flex;
    flex-direction: column;
    /* margin-left: -12%; */
    margin-top: 9px;
    /* margin-right: 12%; */
    margin-left: 0px;
    margin-right: 0px;
  }

  .resultset2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    background: #e0e7ef;
    padding: 17px;
  }

  .resultSetsDiv2 {
    margin-right: 25px;
  }

  .advSearch-module2 {
    margin-right: 21px;
  }
}

@media (max-width: 760px) {
  .container1 a {
    display: flex;
    font-size: 11px;
    text-underline-offset: 1px;
  }

  .resultset2 {
    display: flex;
    align-items: flex-start;
    width: 244px;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 46px; */
    background: #e0e7ef;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .version {
    margin-bottom: 46px;
    margin-right: 36px;
    margin-top: -35px;
    color: rgb(102 116 152) !important;
    font-weight: 600;
  }

  .beaconLogo {
    height: 45px;
    margin-top: 18px;
    margin-bottom: 37px;
    margin-right: 21px;
  }

  .inputVariants {
    height: 24px;
    border: 1.5px solid #dfdfdf;
    border-radius: 2px;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .exampleQuery {
    border: none;
    /* border-color: #5454bc; */
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .labelVariants {
    font-size: 11.5px;
    margin-bottom: 18px;
    margin-right: 4px;
    margin-left: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  }

  .buttonVariants {
    margin-top: 12px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px,
      rgba(179, 179, 179, 0.22) 0px 1px 1px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 7px;
  }

  .switchDescendants h3 {
    color: #e16e00;
    text-transform: uppercase;
    margin-left: 3px !important;
    margin-top: 6px;
    font-size: 10px;
  }
  .css-1ycxvqq-MuiSwitch-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 40px;
    height: 24px;
    overflow: hidden;
    padding: 7px;
    box-sizing: border-box;
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 0;
    margin-top: -3px;
    vertical-align: middle;
  }
  .ReactModal__Content--after-open {
    width: 269px;
    font-size: 12px;
    height: fit-content;
    position: absolute !important;
    inset: 35% !important;
    border: 1px solid rgb(204, 204, 204) !important;
    background: #be5930 !important;
    overflow: auto !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 16px !important;
  }

  .ReactModal__Content--after-open p {
    font-size: 14px;
    font-weight: normal;
    color: white;
    line-height: 20px;
    padding: 2px;
  }

  .ReactModal__Overlay {
    z-index: 3;
  }

  .filters {
    padding: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 2px !important;
    margin-right: 7px !important;
    /* margin-right: 36px; */
    /* margin-left: 27px; */
  }

  .container-fluid {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    height: 35px;
  }

  .example {
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-top: 22px;
    margin-bottom: 22px;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: center;
  }

  .exampleQueries {
    border: none;
    background-color: #ffffff;
    color: #4d4b4b;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 0px !important;
  }

  .additionalOptions {
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 84px;
    margin-top: -21px;
  }

  .bulbLogo {
    display: none;
  }

  .formSearch {
    width: 81vw;
    margin-right: 3px;
    background: white;
    border: 2px solid #8985c1;
    font-size: small;
    /* margin: 10px; */
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px #cecece; */
    height: 27px;
  }
  .bulbExample {
    display: flex;
    border-left: 1.7px solid #f1f1f1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 112px;
  }
  .searchIcon {
    width: 26px;
    margin-top: -1px;
    margin-left: -8px;
  }
  .searchIcon:hover {
    width: 26px;
    margin-top: -1px;
    margin-left: -8px;
  }

  .elixirLogo {
    height: 70px;
    margin-top: 18px;
    margin-bottom: 37px;
    margin-right: 21px;
  }

  .searchButton {
    height: 30px;
    cursor: pointer;
  }

  .examplesQueriesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 189px;
    border-radius: 5px;
    font-size: 9px;
    margin-left: 10px !important;
    background: #8dbde0;
  }

  .bulbExample {
    display: flex;
    border-left: 1.7px solid #f1f1f1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .NavlinkVerifier {
    color: rgba(12, 16, 64, 0.606);
    font-size: 15px !important;
    font-feature-settings: 'pcap', 'c2pc', 'pcap', 'c2pc';
    font-variant-caps: all-petite-caps;
    margin-top: 0px;
    font-size: 12px !important;
  }
}
