html {
  margin: 0px !important;
  height: 100vh;
  background: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.resultSetsDiv2 label h2 {
  font-size: 10px;
}
.skipLimit {
  margin-top: 10px;
}

.switchDescendants2 h3 {
  font-size: 10px;
  width: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
}
.switchDescendants2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 10px;
}

.scopeSelection {
  position: absolute;
  top: 286px;
  z-index: 5;
  background-color: #e2f4ff;
  /* height: 80px; */
  display: flex;
  align-items: center;
  padding: 7px;
  padding-left: 19px;
  padding-right: 19px;
  height: 123px;
  border-radius: 13px;
  color: #1a4b1a;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.resultSetsDiv2 .multi-switch-container {
  margin-left: -5px;
  margin-top: 8px;
}

.buttonsDiv {
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerExtraSections2 {
  display: flex;
  flex-direction: column;
  margin-left: -32%;
  margin-top: 10px;
  margin-right: 14%;
}

.advSearch-module2 label h2 {
  font-size: 10px;
}
.advSearch-module2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.extraSectionVariantFormMode {
  display: flex;
}

.version {
  margin-right: 28px;
  margin-top: -18px;
  color: #3176b1 !important;
  font-weight: 600 !important;
}

.logosVersionContainer {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.searchButton {
  cursor: pointer;
  margin-left: 12px;
  border: none;
  border-radius: 100px;
  background: #3176b1;
  padding: 10px, 24px, 10px, 16px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  display: flex;
  font-weight: 500;
  width: 99px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.clearButton {
  cursor: pointer;
  margin-left: 12px;
  border: none;
  border-radius: 100px;
  background: white;
  padding: 10px, 24px, 10px, 16px;
  color: #3176b1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  display: flex;
  font-weight: 500;
  width: 99px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #3176b1;
}

.scopeDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.scopeDiv h10 {
  margin-top: 0px;
}

.doneButton ion-icon:hover {
  color: rgb(36, 135, 128);
}

p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.modeVariantsQuery {
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-variant-caps: all-petite-caps;
  margin-top: 16px;
}

.modeVariants {
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-variant-caps: all-petite-caps;
}

.modeVariantsBarMode {
  /* margin-bottom: 60px; */
  margin-top: -15px;
  margin-bottom: 31px;
  color: rgba(12, 16, 64, 0.606);
  font-size: 16px;
  font-feature-settings: 'pcap', 'c2pc', 'pcap', 'c2pc';
  font-variant-caps: all-petite-caps;
}

.variantsForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: -70px;
}

.variantsFormVariant {
  margin-top: -14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: -70px;
}
.crossQueriesTittle {
  margin-bottom: 18px;
  font-size: 12px;
  margin-top: -56px;
}
.modeVariantsBarMode:hover h2 {
  color: rgb(236, 149, 0) !important;
}

.modeVariants:hover h2 {
  color: rgb(236, 149, 0) !important;
}

.variantsFilters {
  width: 20vw;
  display: flex;
  margin-left: 7%;
}

.resultSetsDiv {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.containerTableResults {
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.newSearchButton:hover {
  color: rgb(118, 151, 228);
}

.moduleAddedQuery {
  display: flex;
  flex-direction: column;
  width: 145px;
  justify-content: center;
  border: 0px solid #f2eded;
  padding: 11px;
  border-radius: 15px;
  margin-top: 11px;
  margin-bottom: 11px;
  box-shadow: rgba(192, 200, 227, 0.27) 0px 0px 0.25em,
    rgba(159, 167, 184, 0.05) 0px 0.25em 1em;
  margin-left: 14px;
  animation: slide-in-blurred-right 0.4s ease-in both;
}

.doneButton ion-icon {
  color: black;
}

.removeButton {
  width: 130%;
  display: flex;
  justify-content: flex-end;
  margin-top: -18px;
}

.removeButton ion-icon {
  color: rgb(221 221 221) !important;
  font-size: 11px;
  margin-right: 0px;
}

.removeButton ion-icon:hover {
  color: rgb(212, 6, 6) !important;
  font-weight: 800;
}

.moduleAdded {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.moduleAddedQuery h13 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #bac0c6;
  text-transform: capitalize;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 12px;
  margin-top: -6px;
}

.moduleAdded ion-icon {
  color: rgb(174 182 189);
  margin-right: 12px;
  font-size: 22px;
}
.moduleAddedContainer {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.searchButton2 {
  cursor: pointer;
  /* margin-left: 26px; */
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.switchDescendants {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}

.switchDescendants h3 {
  color: #e16e00;
  text-transform: uppercase;
  margin-left: 3px !important;
  margin-top: 10px;
  font-size: 12px;
}

.container-fluid {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-around;
  /* height: 35px; */
  align-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-select {
  margin-right: 3px;
  cursor: pointer;
  border: 2px solid #e66f0f;
}

.form-select2 {
  height: 28px;
  margin-right: 3px;
  cursor: pointer;
  margin: 10px;
  margin-right: 30px;
  width: 89px;
}

.test-example {
  padding: 2px;
}

.selectedOperator {
  background: white;
  border: 1px solid rgb(143 147 196 / 61%);
  /* border: 1px solid rgba(12, 16, 64, 0.606); */
  font-size: medium;
  border-radius: 4px;
  width: 43px;
  height: 27px;
  margin-right: 20px;
  box-shadow: 1px 2px 2px #cecece;
}

.newSearch {
  display: flex;
}

.chosen-value {
  background: white;
  border: 2px solid #e16e00;
  font-size: medium;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
  width: 350px;
  height: 29px;
}

.d-flex {
  display: flex;
}

.d-flex2 {
  display: flex;
  justify-content: flex-end;
}

.formSearch {
  width: 45vw;
  margin-right: 0px;
  background: white;
  border: 2px solid #8985c1;
  font-size: medium;
  /* margin: 10px; */
  border-radius: 10px;
  /* box-shadow: 2px 1px 2px #cecece; */
  height: 30px;
}

.searchIcon {
  width: 13px;
  margin-right: -2px;
}
.clearIcon {
  width: 15px;
  margin-right: -2px;
}

.forwardIcon {
  width: 25px;
}

.forwardIcon:hover {
  background-color: #c8d4e6;
  padding: 4px;
  border-radius: 16px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.variantsContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.inputVariants {
  width: 69px;
  /* height: 24px; */
  border: 0.5px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-left: 6px;
  font-size: 11.5px;
  padding: 3px;
  box-shadow: rgb(234 221 221 / 16%) 0px 1px 4px;
}

.labelVariants {
  font-size: 11.5px;
  margin-bottom: 18px;
  margin-right: 4px;
  margin-left: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.labelVariantsTittle {
  font-size: 16px;
  margin-bottom: 27px;
  color: #d36d00;
  margin-right: 4px;
  margin-left: 18px;
  font-feature-settings: 'smcp', 'c2sc';
  font-variant-caps: all-small-caps;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.DivButtonVariants {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonAlphanum {
  font-variant-caps: all-small-caps;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #756d6d;
}

.buttonAlphanum:hover {
  font-variant-caps: all-small-caps;
  font-weight: 600;
  color: #d36d00;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.moduleVariants h3 {
  margin-top: -14px;
  color: #e16e00;
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 12px;
}

.btn-3 {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #34495e;
  font-size: 14px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 10px;
  /* margin-top: -10px; */
  /* margin-bottom: 35px; */
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.09);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.spanQE {
  display: block;
  padding: 8px 4px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.btn-3::before,
.btn-3::after {
  content: '';
  width: 0;
  height: 1.6px;
  position: absolute;
  transition: all 0.2s linear;
  background: #e07a1a;
}

.spanQE::before,
.spanQE::after {
  content: '';
  width: 1.6px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #e07a1a;
}

.btn-3:hover::before,
.btn-3:hover::after {
  width: 100%;
}

.btn-3:hover .spanQE::before,
.btn-3:hover .spanQE::after {
  height: 100%;
}

.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}

.spanQE::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0;
}
.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.spanQE::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}
.btn-3:hover .spanQE::after {
  transition-delay: 0.2s;
}
.btn-3:hover::before {
  transition-delay: 0.4s;
}
.btn-3:hover .spanQE::before {
  transition-delay: 0.6s;
}

.resultsOptions {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.buttonVariants {
  margin-bottom: -14px;
  cursor: pointer;
}

.buttonVariants:hover {
  margin-right: -2px;
  font-weight: 600;
  color: rgb(118, 151, 228);
}

.basesSection {
  border: solid 1px #dadada;

  box-shadow: rgba(207, 192, 192, 0.15) 1.4px 1.4px 2.2px;
}

.referenceBasesContainer {
  margin-top: 27px;
}

.moduleVariants {
  display: flex;
  flex-direction: column;
}

.variantExampleButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: solid #d6d5e1;
  padding: 4px;
  margin-left: 13px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 10px;
  box-shadow: 1px 1px 1px -1px #ffd8d8;
  text-transform: uppercase;
  color: rgba(12, 16, 64, 0.606);
  font-weight: 700;
}
.variantExampleButton:hover {
  background-color: #bfe1f7;
  border: solid #06c;
}

.divFlex {
  width: 168%;
  display: flex;
  justify-content: flex-end;
}

.text-example {
  display: none;
}

.exampleQuery:hover {
  color: rgb(118, 151, 228);
}

.exampleQuery:hover .text-example {
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #c8c8c8;
  background-color: #e1dddd;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 6px;
}

.examplesQueriesList {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container2 {
  width: 100vw;
  display: flex;
  margin-bottom: 18px;
  margin-top: 10px;
}

.NavlinkVerifier {
  color: rgba(12, 16, 64, 0.606);
  font-size: 15px !important;
  font-feature-settings: 'pcap', 'c2pc';
  font-variant-caps: all-petite-caps;
  margin-top: -4px;
}
.NavlinkVerifier:hover {
  color: rgb(236, 149, 0) !important;
}

.alphanumContainer {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-left: 170px;
  margin-bottom: 10px;
}

.advContainer {
  display: flex;
  width: 50vw;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  margin-right: 58px;
  align-content: center;
  justify-content: center;
}

.alphanumContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.cinecaLogo {
  height: 51px;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 30px;
  margin-right: 42px;
}

.container1 a {
  display: flex;
  align-content: center;
  text-underline-offset: 4px;
  align-items: center;
}

.eosc4cancer {
  height: 85px;
  margin-top: 20px;
  margin-right: 30px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(60%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.by-covid-logo {
  height: 16px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 35px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(60%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.ega-logo {
  height: 46px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 35px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(35%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.eosc4cancer,
.by-covid-logo,
.ega-logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.federLogo {
  height: 33px;
  margin-top: 42px;
  margin-right: 14px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.federLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.iscLogo {
  height: 33px;
  margin-top: 42px;
  margin-right: 14px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.iscLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.ministerioLogo {
  height: 33px;
  margin-top: 42px;
  margin-right: 14px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.ministerioLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.laCaixaLogo {
  height: 35px;
  margin-top: 34px;
  margin-right: 30px;
  filter: grayscale(40%);
  transition: 0.2s ease-in-out;
}
.horizonEuropeLogo {
  height: 30px;
  margin-right: 10px;
  filter: grayscale(40%);
  transition: 0.2s ease-in-out;
}

.elixirLogo {
  margin-bottom: -13px;
  height: 58px;
  margin-right: 10px;
  filter: grayscale(40%);
  transition: 0.2s ease-in-out;
}

.elixirLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.horizonEuropeLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.laCaixaLogo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.comming_message {
  margin: 80px;
  font-size: 18px;
}

select {
  background: white;
  border: 2px solid #e66f0f;
  font-size: medium;
  border-radius: 2px;
  width: 150px;
  height: 39px;
  box-shadow: 1px 2px 2px #cecece;
}

.listTerms {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.alphaIdModule {
  display: flex;
  flex-direction: column;
}

.selectedId {
  background: white;
  border: 1px solid rgba(201, 204, 244, 0.606);
  /* margin: 4px; */
  padding: 6px;
  box-shadow: 0px 1px 1px #a3a0a0;
  width: 197px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 3%;
  margin-left: 7%;
  margin-top: -9px;
  overflow: auto;
  height: 100px;
  width: 239px;
}

.selectedId option {
  padding: 3px;
  width: 230px;
}

.selectedId option:hover {
  background: #f6a558;
  width: 230px;
  padding: 3px;
}

.results {
  min-height: 80px;
}

.resultSet2 {
  margin-top: -22px;
}

.cohortsModule {
  display: flex;
  width: 100vw;
}

.tittleAlph {
  display: flex;
  margin-bottom: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}

hr {
  width: 85vw;
  margin-top: 6px;
  margin-bottom: 8px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.exampleQueries {
  border: none;
  background-color: #ffffff;
  color: #4d4b4b;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.exampleQueries:hover {
  color: rgb(118, 151, 228);
}

.bulbExample {
  margin-right: 48px;
  padding-right: 19px;
  border-right: 1.7px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.helpButton {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logos {
  display: flex;
  width: 100vw;
  align-items: flex-end;
  margin-bottom: 19px;
  margin-top: -8px;
  flex-direction: row;
  justify-content: flex-end;
}

.helpButton:hover {
  color: #86d2ff;
}

.bulbLogo {
  height: 16px;
  margin-right: 11px;
  margin-left: 4px;
}

.arrowLogo {
  height: 12px;
}

.containerExtraSections {
  display: flex;
  flex-direction: column;
}

.questionLogo {
  width: 17px;
  margin-left: 8px;
}

.questionLogo:hover {
  background: linear-gradient(356deg, #3893cb 50%, #419ed3 80%);
  border-radius: 9px;
}

.questionLogo2 {
  width: 19px;
  /* margin-bottom: 10px; */
  margin-right: 7px;
}

.questionLogo2:hover {
  background: linear-gradient(356deg, #3ca2e2 50%, #63acd6 80%);
  border-radius: 9px;
}

.closeLogo {
  width: 25px;
  margin-left: -5px;
}

.closeLogo:hover {
  background: white;
  border-radius: 14px;
}

.additionalOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example {
  display: flex;
  align-items: center;
  /* margin-right: -117px; */
  margin-top: 22px;
  margin-bottom: 22px;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.extraSections {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.exampleQuery {
  width: 100%;
  border: none;
  /* border-color: #5454bc; */
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-around;
}

.exampleQueriesAlph {
  display: flex;
}

.exampleQueriesAlph button {
  margin-bottom: 10px;
  font-size: 14px;
}

#exampleQueries {
  border: none;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
}

.advSearch {
  margin-top: 5px;
  margin-left: 11px;
  width: fit-content;
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  padding: 7px;
  box-shadow: 0px 1px 2px #a3a0a0;
  border-radius: 3px;
  font-feature-settings: 'pcap', 'c2pc', 'pcap';
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
  height: 36%;
}

.AdvSearchDiv {
  width: 100%;
  display: flex;
}

.advSearch:hover {
  background: #86d2ff;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
}

.buttonClass {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.advSearchModule {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.advSearch-module {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: -2px;
}

.loader2 {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ld3 {
  position: relative;
  animation: outercontainer 4s linear infinite;
}
#ld3 div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#ld3 div:nth-child(1) {
  top: 20px;
  background: #4ac985;
  animation: ld3_div1 2s linear infinite;
}
#ld3 div:nth-child(2) {
  top: -20px;
  background: #156d9c;
  animation: ld3_div2 2s linear infinite;
}
#ld3 div:nth-child(3) {
  left: 20px;
  background: #f39237;
  animation: ld3_div4 2s linear infinite;
}
#ld3 div:nth-child(4) {
  left: -20px;
  background: #ced414;
  animation: ld3_div3 2s linear infinite;
}

@keyframes outercontainer {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ld3_div1 {
  0% {
    top: 20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
@keyframes ld3_div2 {
  0% {
    top: -20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: -20px;
  }
}
@keyframes ld3_div3 {
  0% {
    left: -20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: -20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: -20px;
  }
}
@keyframes ld3_div4 {
  0% {
    left: 20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: 20px;
  }
}

#similarityCheck {
  width: 14px;
  margin-top: 5px;
  margin-left: 6px;
  cursor: pointer;
}

.IdForm {
  background: white;
  border: 1px solid rgb(121 123 163 / 61%);
  margin: 4px;
  padding: 6px;
  box-shadow: 1px 1px 2px #eee9e9;
  width: 168px;
  height: 12px;
  border-radius: 4px;
  overflow: auto;
}

.ValueForm {
  background: white;
  /* border: 1px solid rgba(12, 16, 64, 0.606); */
  margin-left: 5px;
  padding: 6px;
  box-shadow: 1px 1px 2px #eee9e9;
  width: 30%;
  height: 13px;
  border-radius: 4px;
  border: 1px solid rgb(143 147 196 / 61%);
}

#operator {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-top: -40px; */
  width: 80px;
}

.operator {
  background: white;
  border: 2px solid #e66f0f;
  padding: 3px;
  box-shadow: 1px 1px 2px #a3a0a0;
  width: 21%;
  border-radius: 2px;
}

.css-b62m3t-container {
  margin-top: -1px;
  margin-left: 10px;
}

.css-1fdsijx-ValueContainer {
  display: grid;
  width: 246px;
}

.filters {
  padding: 4px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 32px;
  margin-left: -20px;
}

.filters:hover {
  color: rgb(118, 151, 228);
}

.ReactModal__Content--after-open {
  width: 500px;
  font-size: 12px !important;
  /* height: 33%; */
  height: fit-content;
  position: absolute !important;
  top: 18% !important;
  right: 10vw !important;
  left: 32.4vw !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: #82a0b7 !important;
  overflow: auto !important;
  border-radius: 12px !important;
  outline: none !important;
  padding: 7px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.ReactModal__Content--after-open p {
  font-size: 12px;
  font-weight: normal;
  inset: 0px !important;
  color: white;
  line-height: 30px;
  padding: 2px;
  top: 28% !important;
  right: 10vw !important;
  left: 34.4vw !important;
}
@media (max-width: 1409px) {
  .containerExtraSections2 {
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    margin-top: 9px;
    margin-right: 12%;
  }
}
@media (max-width: 1000px) {
  .extraSectionVariantFormMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .variantsForm {
    margin-left: 0px;
  }
  .containerExtraSections2 {
    display: flex;
    flex-direction: column;
    /* margin-left: -12%; */
    margin-top: 9px;
    /* margin-right: 12%; */
    margin-left: 0px;
    margin-right: 0px;
  }

  .resultset2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    background: #e0e7ef;
    padding: 17px;
  }

  .resultSetsDiv2 {
    margin-right: 25px;
  }

  .advSearch-module2 {
    margin-right: 21px;
  }
}

@media (max-width: 900px) {
  .container1 a {
    display: flex;
    font-size: 11px;
    text-underline-offset: 1px;
  }

  .buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .crossQueriesTittle {
    margin-bottom: 12px;
    font-size: 12px;
    margin-top: 37px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .resultset2 {
    display: flex;
    align-items: flex-start;
    width: 244px;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 46px; */
    background: #e0e7ef;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .version {
    margin-bottom: 0px;
    margin-right: 37px;
    margin-top: -18px;
    color: #3176b1 !important;
    font-weight: 700 !important;
  }

  .logosVersionContainer {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .eosc4cancer {
    height: 61px;
    margin-top: 20px;
    margin-right: 33px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .by-covid-logo {
    height: 14px;
    margin-top: 20px;
    margin-right: 30px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(60%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .ega-logo {
    height: 36px;
    margin-top: 20px;
    margin-right: 30px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(35%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .federLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .iscLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .ministerioLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .laCaixaLogo {
    height: 33px;
    margin-top: 33px;
    margin-right: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .inputVariants {
    width: 69px;
    /* height: 24px; */
    border: 0.5px solid #dfdfdf;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-left: 6px;
    font-size: 11.5px;
    padding: 3px;
    box-shadow: rgb(234 221 221 / 16%) 0px 1px 4px;
  }

  .exampleQuery {
    width: 100%;
    border: none;
    /* border-color: #5454bc; */
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
  }

  .labelVariants {
    font-size: 11.5px;
    margin-bottom: 18px;
    margin-right: 4px;
    margin-left: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  }

  .buttonVariants {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 7px;
  }

  .switchDescendants h3 {
    color: #e16e00;
    text-transform: uppercase;
    margin-left: 3px !important;
    margin-top: 6px;
    font-size: 10px;
  }
  .css-1ycxvqq-MuiSwitch-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 40px;
    height: 24px;
    overflow: hidden;
    padding: 7px;
    box-sizing: border-box;
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 0;
    margin-top: -3px;
    vertical-align: middle;
  }

  .ReactModal__Content--after-open p {
    font-size: 14px;
    font-weight: normal;
    color: white;
    line-height: 20px;
    padding: 2px;
    width: 500px;
    top: 28% !important;
    right: 10vw !important;
    left: 34.4vw !important;
    inset: 0px !important;
  }

  .ReactModal__Overlay {
    z-index: 3;
  }

  .filters {
    padding: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 3px;
    margin-left: -23px;
  }

  .container-fluid {
    display: flex;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-around;
    /* height: 35px; */
    align-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .example {
    display: flex;
    align-items: center;
    margin-right: 0px;
    width: 230px;
    margin-top: 22px;
    margin-bottom: 22px;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }

  .exampleQueries {
    border: none;
    background-color: #ffffff;
    color: #4d4b4b;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 0px !important;
  }

  .additionalOptions {
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 73px;
    margin-top: 11px;
  }

  .bulbLogo {
    display: none;
  }

  .formSearch {
    width: 61vw;
    margin-right: 3px;
    background: white;
    border: 2px solid #8985c1;
    font-size: small;
    /* margin: 10px; */
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px #cecece; */
    height: 27px;
  }
  .bulbExample {
    margin-right: 48px;
    padding-right: 19px;
    border-right: 1.7px solid #f1f1f1;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
  }

  .examplesQueriesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: fit-content;
    border-radius: 5px;
    font-size: 9px;
    margin-left: 10px !important;
    background: #8dbde0;
  }

  .bulbExample {
    margin-right: 49px;
    display: flex;
    padding-right: 13px;
    border-right: 1.7px solid #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
  }

  .NavlinkVerifier {
    color: rgba(12, 16, 64, 0.606);
    font-size: 15px !important;
    font-feature-settings: 'pcap', 'c2pc', 'pcap', 'c2pc';
    font-variant-caps: all-petite-caps;
    margin-top: 0px;
    font-size: 12px !important;
  }
}

@media (max-width: 750px) {
  .container1 a {
    display: flex;
    font-size: 11px;
    text-underline-offset: 1px;
  }

  .IdForm{
    font-size: 12px;
  }
  .selectedOperator {
    background: white;
    border: 1px solid rgb(143 147 196 / 61%);
    /* border: 1px solid rgba(12, 16, 64, 0.606); */
    font-size: 12px;
    border-radius: 4px;
    width: 33px;
    height: 27px;
    /* margin-right: 20px; */
    box-shadow: 1px 2px 2px #cecece;
  }
  .ValueForm{
    font-size: 12px;
  }
  #operator {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-top: -40px; */
    width: 46px;
  }

  .buttonsDiv {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 151px;
  }
  .crossQueriesTittle {
    margin-bottom: 12px;
    font-size: 12px;
    margin-top: 37px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .resultset2 {
    display: flex;
    align-items: flex-start;
    width: 244px;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 46px; */
    background: #e0e7ef;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .version {
    margin-bottom: 0px;
    margin-right: 37px;
    margin-top: -18px;
    color: rgb(102 116 152) !important;
    font-weight: 700 !important;
  }

  .logosVersionContainer {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .scopeSelection{
    font-size: 14px;
  }
  .eosc4cancer {
    height: 61px;
    margin-top: 20px;
    margin-right: 33px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .by-covid-logo {
    height: 14px;
    margin-top: 20px;
    margin-right: 30px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(60%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .ega-logo {
    height: 36px;
    margin-top: 20px;
    margin-right: 30px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(35%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .federLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(20%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .iscLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .ministerioLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .laCaixaLogo {
    height: 31px;
    margin-top: 31px;
    margin-right: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .inputVariants {
    width: 69px;
    /* height: 24px; */
    border: 0.5px solid #dfdfdf;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-left: 6px;
    font-size: 11.5px;
    padding: 3px;
    box-shadow: rgb(234 221 221 / 16%) 0px 1px 4px;
  }

  .exampleQuery {
    width: 100%;
    border: none;
    /* border-color: #5454bc; */
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
  }

  .labelVariants {
    font-size: 11.5px;
    margin-bottom: 18px;
    margin-right: 4px;
    margin-left: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  }

  .buttonVariants {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 7px;
  }

  .switchDescendants h3 {
    color: #e16e00;
    text-transform: uppercase;
    margin-left: 3px !important;
    margin-top: 6px;
    font-size: 10px;
  }
  .css-1ycxvqq-MuiSwitch-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 40px;
    height: 24px;
    overflow: hidden;
    padding: 7px;
    box-sizing: border-box;
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 0;
    margin-top: -3px;
    vertical-align: middle;
  }
  .ReactModal__Content--after-open {
    width: 280px;
    font-size: 11px;
    /* height: 33%; */
    height: 22%;
    position: absolute !important;
    top: 28% !important;
    right: 10vw !important;
    left: 32.4vw !important;
    border: 1px solid rgb(204, 204, 204) !important;
    background: #82a0b7 !important;
    overflow: auto !important;
    border-radius: 12px !important;
    outline: none !important;
    padding: 7px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    inset: 20vw !important;
  }

  .ReactModal__Content--after-open p {
    font-size: 12px;
    font-weight: normal;
    color: white;
    width: fit-content;
    line-height: 20px;
    padding: 2px;
    top: 28% !important;
    right: 10vw !important;
    left: 34.4vw !important;
  }

  .ReactModal__Overlay {
    z-index: 3;
  }

  .filters {
    padding: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 3px;
    margin-left: -23px;
  }

  .container-fluid {
    display: flex;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-around;
    /* height: 35px; */
    align-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .example {
    display: flex;
    align-items: center;
    margin-right: 0px;
    width: 230px;
    margin-top: 22px;
    margin-bottom: 22px;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }

  .exampleQueries {
    border: none;
    background-color: #ffffff;
    color: #4d4b4b;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 0px !important;
  }

  .additionalOptions {
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 73px;
    margin-top: 11px;
  }

  .bulbLogo {
    display: none;
  }

  .formSearch {
    width: 71vw;
    margin-right: 3px;
    background: white;
    border: 2px solid #8985c1;
    font-size: small;
    /* margin: 10px; */
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px #cecece; */
    height: 27px;
  }
  .bulbExample {
    margin-right: 48px;
    padding-right: 19px;
    border-right: 1.7px solid #f1f1f1;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
  }

  .examplesQueriesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: fit-content;
    border-radius: 5px;
    font-size: 9px;
    margin-left: 10px !important;
    background: #8dbde0;
  }

  .bulbExample {
    margin-right: 49px;
    display: flex;
    padding-right: 13px;
    border-right: 1.7px solid #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
  }

  .NavlinkVerifier {
    color: rgba(12, 16, 64, 0.606);
    font-size: 15px !important;
    font-feature-settings: 'pcap', 'c2pc', 'pcap', 'c2pc';
    font-variant-caps: all-petite-caps;
    margin-top: 0px;
    font-size: 12px !important;
  }
}

@media (max-width: 460px) {
  .containerForm {
    margin-left: 0px;
  }
  .formSearch {
    width: 71vw;
    margin-right: 3px;
    background: white;
    border: 2px solid #8985c1;
    font-size: small;
    /* margin: 10px; */
    border-radius: 10px;
    /* box-shadow: 2px 1px 2px #cecece; */
    height: 30px;
  }
  .crossQueriesTittle {
    margin-bottom: 12px;
    font-size: 10px;
    margin-top: 24px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
