.super-app-theme--header {
  background-color: rgb(168 206 221);
}

.pre {
  display: 'block';
  padding: '10px 30px';
  margin: '0';
  overflow: 'scroll';
  cursor: pointer;
  overscroll-behavior: contain;
  overflow-inline: scroll;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(26, 131, 128);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 14px;
}

h6:hover {
  color: rgb(118, 151, 228);
  font-weight: bold;
}

.tittleResults h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(209, 45, 20);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 14px;
}

h7 {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 14px;
  color: rgba(12, 16, 64, 0.606);
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 2px;
}

h7:hover {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 14px;
  color: rgb(118, 151, 228);
  margin-left: 10px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 2px;
}

h1 {
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MuiDataGrid-root {
  margin-left: 70px;
  margin-top: 5px;
  width: 88vw;
  margin-right: 5px;
  overflow-inline: scroll;
  height: 750px !important;
  overflow: scroll;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderDraggableContainer {
  width: fit-content !important;
  height: 100%;
}

.MuiFormControl-root label {
  visibility: hidden;
  margin: 10px;
  overflow: scroll;
}

.cardTableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.MuiDataGrid-cellContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  white-space: pre;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
  height: 200px;
  font-size: 12px;
  text-overflow: clip !important;
  overflow-inline: scroll;
  overflow: scroll;
  align-content: center;
  align-items: center;
}

.MuiDataGrid-root {
  margin-left: 5px;
  overflow: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(223, 202, 202, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.containerBeaconResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 98vw; */
  margin-right: 26px;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  align-items: center;
  overflow: scroll;
  border: solid #e1dede;
  padding: 14px;
  box-shadow: 1px 1px 1px 1px snow;
}
