.super-app-theme--header {
  background-color: rgb(168 206 221);
}

/* Apply custom scrollbar styles to the table container */
.table-container {
  overflow-x: auto;
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  min-width: 950px;
  flex-direction: column;
  scrollbar-width: thin; /* For Firefox */

  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* For Firefox */
}

.table-container th.hidden,
.table-container td.hidden {
  display: none;
}

.menu-icon-container {
  display: flex;
  justify-content: flex-end;
}
.menu-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: #e7e9f2;
  border-radius: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: fit-content;
  margin-bottom: 5px;
  cursor: pointer;
}
.column-list li {
  margin: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11.5px;
}

.column-list li:hover {
  color: #5c5cb5;
}

.export-menu {
  margin-right: 3px;
}

.exportButton svg {
  font-size: 16px;
}

li svg {
  margin-left: 7px;
}
.sticky-header input {
  border: 1px solid #e0eaf9;
  padding: 4px;
  margin-top: 2px;
  margin-bottom: -4px;
  border-radius: 4px;
  font-size: 12px;
}
.column-list {
  margin-top: -1px;
}
.export-menu {
  height: fit-content;
  background: #e7e9f2;
  border-radius: 14px;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  margin-bottom: 5px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 0px;
  /* padding-bottom: 3px; */
  /* justify-content: flex-start; */
  flex-direction: column;
  align-content: stretch;
  align-items: flex-end;
  padding-left: 2px;
  padding-right: 2px;
}

/* Customize the scrollbar track */
.table-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Lighter background color */
}

/* Customize the scrollbar thumb */
.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Darker thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Customize the scrollbar corner */
.table-container::-webkit-scrollbar-corner {
  background-color: transparent; /* Hide the scrollbar corner */
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}

.body-container {
  overflow-y: auto;
  max-height: 100vh;
}

.tableResults {
  width: 96%;
  border-collapse: collapse;
  table-layout: fixed; /* Fixed layout to ensure equal column widths */
  margin-left: 14px;
}

.theadResults {
  border-bottom: solid 1px #e1e1e1;
  background-color: #a9c9bb;
}

.sticky-header input {
  width: 80%;
}
.sticky-header,
.visible {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: break-spaces;
  width: 23vw;
  overflow-x: scroll;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}

th.sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Ensure background color appears */
  z-index: 3; /* Ensure the sticky header appears above the tbody */
}

th {
  font-size: 13px;
}

td {
  font-size: 12px;
}

/* Calculate and set equal column widths */

.buttonId {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgb(60, 60, 249);
  margin-top: 10px;
}

.buttonId:hover {
  color: #a498f3;
}

.resultSetsButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultSetsButton h7 {
  font-size: 12px;
}

.foundResult {
  border: 1px solid rgb(30, 81, 32);
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  color: #fcfcfc;
  font-weight: 600;
  background: #0db474;
}

.NotfoundResult {
  border: 1px solid rgb(197, 100, 100);
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  color: #fce8e8;
  font-weight: 600;
  background: #e93e3e;
}

.foundResult:hover {
  color: white;
}
.NotfoundResult:hover {
  color: white;
}

.resultSetsButton h6 {
  margin-top: 10px;
}

.tittleResults h7 {
  font-size: 12px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(26, 131, 128);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  font-size: 12px;
}

h6:hover {
  color: rgb(118, 151, 228);
  font-weight: bold;
}

.tittleResults h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(209, 45, 20);
  font-weight: bold;
  background-color: rgb(251, 185, 185);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  font-size: 12px;
  border-radius: 2px;
  padding: 3px;
}
.handoversDiv {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.handoversDiv ion-icon {
  font-size: 19px;
  margin-top: -5px;
  margin-bottom: -5px;
}
.handoversDiv ion-icon:hover {
  color: rgb(247, 144, 35);
}

.datasetContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.noteHandover {
  width: 30%;
  font-size: 12px;
}

.divNote {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
h7 {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 14px;
  color: rgba(12, 16, 64, 0.606);
  font-weight: bold;
}

h7:hover {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  color: rgb(118, 151, 228);
  font-weight: bold;
}

h1 {
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardTableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.containerBeaconResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 98vw; */
  /* margin-right: 26px; */
  align-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  align-items: center;
  overflow: scroll;
}

.containerBeaconResultsVariants {
  overflow-y: scroll;
  height: 100vh;
}

.containerResultsVariants {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 860px) {
  .containerBeaconResults {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* margin-right: 26px; */
    align-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    align-items: center;
    overflow: scroll;
  }

  .containerResultsVariants {
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
  }

  .containerBeaconResultsVariants {
    overflow-y: scroll;
    height: 100vh;
    width: 70vw;
  }
  .tittleResults {
    width: 46vw;
    background: white;
    border-radius: 2px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    color: rgb(26, 131, 128);
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    font-size: 12px;
  }

  .tittleResults h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    color: rgb(209, 45, 20);
    font-weight: bold;

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px;
  }
  h7 {
    text-transform: uppercase;
    /* margin-left: 40px; */
    /* margin-top: 17px; */
    font-size: 12px;
    color: rgba(12, 16, 64, 0.606);
    font-weight: bold;
    /* margin-top: 8px; */
    margin-bottom: 2px;
  }
}

@media (max-width: 600px) {
  .tittleResults {
    width: 72vw;
    background: white;
    border-radius: 2px;
    height: 212px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
  }
}
