.super-app-theme--header {
  background-color: rgb(168 206 221);
}

/* Apply custom scrollbar styles to the table container */
.table-container {
  overflow-x: auto;
  width: 100%;
  min-width: 900px;
  height: fit-content;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  /* min-width: 950px; */
  flex-direction: column;
  scrollbar-color: rgb(188 208 223 / 50%) rgba(0, 0, 0, 0);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.tdGranuBeacon ion-icon {
  width: 15px;
  color: black;
  margin: 0px;
  margin-left: 11px;
  cursor: pointer;
  margin-top: 2px;
}

.tdGranuBeacon ion-icon:hover {
  font-weight: 700;
  color: black;
}

.table-container th.hidden,
.table-container td.hidden {
  display: none;
}

thead {
  border-bottom: 0px !important;
}
.theadResults {
  border: 1px solid #3176b1;
}
.menu-icon-container {
  display: flex;
  justify-content: flex-end;
}
.menu-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: #e7e9f2;
  border-radius: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: fit-content;
  margin-bottom: 5px;
  cursor: pointer;
}
.column-list li {
  margin: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11.5px;
}

.errorConnection {
  color: rgb(185 79 79);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  /* width: 150%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: 14px; */
  margin-top: 46px !important;
}

.column-list li:hover {
  color: #5c5cb5;
}

.export-menu {
  margin-right: 3px;
}

.exportButton svg {
  font-size: 16px;
}

.noResultsFullResponse {
  margin-top: 10px;
  color: rgb(198, 59, 12);
  font-family: sans-serif;
}

.noResultsFullResponse:hover {
  color: rgb(198, 59, 12);
}
.sticky-header input {
  border: 1px solid #e0eaf9;
  padding: 4px;
  margin-top: 2px;
  margin-bottom: -4px;
  border-radius: 4px;
  font-size: 12px;
}
.column-list {
  margin-top: -1px;
}
.export-menu {
  height: fit-content;
  background: #e7e9f2;
  border-radius: 14px;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  margin-bottom: 5px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 0px;
  /* padding-bottom: 3px; */
  /* justify-content: flex-start; */
  flex-direction: column;
  align-content: stretch;
  align-items: flex-end;
  padding-left: 2px;
  padding-right: 2px;
}

.crossQButtonTable {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #3176b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossQsymbol {
  width: 14px;
  /* margin-left: 7px; */
  align-items: center;
}

/* Customize the scrollbar track */
.table-container::-webkit-scrollbar-track {
  scrollbar-color: rgb(188 208 223 / 50%) rgba(0, 0, 0, 0);
}

/* Customize the scrollbar thumb */
.table-container::-webkit-scrollbar-thumb {
  scrollbar-color: rgb(188 208 223 / 50%) rgba(0, 0, 0, 0);
  border-radius: 10px; /* Rounded corners */
}

/* Customize the scrollbar corner */
.table-container::-webkit-scrollbar-corner {
  background-color: transparent; /* Hide the scrollbar corner */
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
  /* width: 100vw; */

  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
}

.body-container {
  overflow-y: auto;
}

.tableResults {
  width: 96%;
  border-collapse: collapse;
  table-layout: fixed; /* Fixed layout to ensure equal column widths */
  margin-left: 14px;
}

.sticky-header input {
  width: 80%;
}
.sticky-header,
.visible {
  padding: 8px;
  border: 1px solid #3176b1;
  text-align: left;
  white-space: break-spaces;
  width: 86vw;
  overflow-x: scroll;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.sticky-header,
.visible::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.tdGranuBeacon {
  /* margin-left: 28px; */
  font-size: 14px;
  font-family: sans-serif;
  /* padding: 8px; */

  display: flex;
  align-items: center;
  width: 328px;
  align-content: center;
  justify-content: flex-start;
}
.visible-id {
  padding: 8px;
  border: 1px solid #3176b1;
  text-align: left;
  white-space: break-spaces;
  width: 86vw;
  overflow-x: scroll;
  flex-direction: row-reverse;
  height: 60px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.visible-id::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.tbodyResults {
  border-left: 1px solid #3176b1;
  border-right: 1px solid #3176b1;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.pagination-controls button {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 2px;
}
input[type='checkbox'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

input[type='checkbox']:checked:before {
  display: flex;
  color: rgb(36, 43, 106) !important;
  align-items: center;
  justify-content: center;
}

input[type='checkbox']:before {
  content: '✓';
  font-size: 15px;
  color: transparent !important;
  background: #ffffff;
  display: block;
  width: 11px;
  height: 11px;
  border: 1.8px solid #3176b1;
  margin-right: 1px;
}

tr {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.divFilter p {
  color: #3176b1;
}
.pagination-controls button.active {
  background-color: #3d72a6;
  color: white;
  border-radius: 2px;
}

.tableGranularity {
  width: 800px;
  /* border: 1px solid white; */
  border-collapse: collapse;
  margin-bottom: 64px;
}

.tableGranularity {
  width: fit-content;
}

.trGranu {
  height: 8vh;
  border-bottom: 1px solid #e9ebee;
}
.trGranuBeacon {
  background-color: #d7e7f5;
  height: 55px;
  border-bottom: 1px solid #8fadc1;
}

.thGranularity,
.tdGranu,
.thGranularityTitle,
.thGranularityTitleBeacon {
  font-size: 14px;
  width: 328px;
  font-family: sans-serif;
  /* padding: 8px; */
  /* text-align: center; */
  display: flex;
  word-break: break-all;
  /* align-items: center; */
  align-content: center;
  /* justify-content: flex-start; */
}

.tdGranuNoResults,
.thGranularityTitle,
.thGranularityTitleBeacon {
  font-size: 14px;
  width: 333px;
  font-family: sans-serif;
  /* padding: 8px; */
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.tdGranuBeaconNoResults {
  margin-left: 10px;
  font-size: 14px;
  font-family: sans-serif;
  /* padding: 8px; */
  text-align: center;
  display: flex;
  align-items: center;
  width: 302px;
  align-content: center;
  justify-content: flex-start;
}
.thGranularityTitleBeacon {
  color: white;
  margin-left: 10px;
}

.thGranularityTitleBeacon {
  padding-left: 10px;
}

.trGranu td {
  padding-left: 12px;

  max-width: 100%;
  overflow-y: overlay;
}

.trGranuBeacon td {
  padding-left: 12px;
}
.tdNotFoundDataset {
  color: rgb(134, 145, 164);
}
.thGranularityTitle {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.tdFound {
  font-weight: 600;
}

.tdNotFound {
  color: rgb(134, 145, 164);
  font-weight: 600;
}
#trGranuHeader {
  background-color: #3176b1;
  font-weight: bold;
  height: 50px;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  background-color: #dddddd;
  border-radius: 2px;
}

.pagination-controls button:hover:not(.active):not(:disabled) {
  background-color: #ddd;
}

th.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  padding-bottom: 19px;
}

th {
  font-size: 13px;
}

td {
  font-size: 12px;
}

/* Calculate and set equal column widths */

.buttonId {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgb(60, 60, 249);
  margin-top: 10px;
}

.buttonId:hover {
  color: #a498f3;
}

.resultSetsButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultSetsButton h7 {
  font-size: 12px;
}

.foundResult {
  border: 1px solid rgb(30, 81, 32);
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  color: #fcfcfc;
  width: fit-content;
  font-weight: 600;
  background: #0db474;
}

.NotfoundResult {
  border: 1px solid rgb(197, 100, 100);
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  color: #fce8e8;
  font-weight: 600;
  background: #e93e3e;
  width: fit-content;
}

.foundResult:hover {
  color: white;
}
.NotfoundResult:hover {
  color: white;
}

.resultSetsButton h6 {
  margin-top: 10px;
}

.tittleResults h7 {
  font-size: 12px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(26, 131, 128);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  font-size: 12px;
}

h6:hover {
  color: rgb(118, 151, 228);
  font-weight: bold;
}

.tittleResults h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: rgb(209, 45, 20);
  font-weight: bold;
  background-color: rgb(251, 185, 185);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  font-size: 12px;
  border-radius: 2px;
  padding: 3px;
}
.handoversDiv {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.handoversDiv ion-icon {
  font-size: 19px;
  margin-top: -5px;
  margin-bottom: -5px;
}
.handoversDiv ion-icon:hover {
  color: rgb(247, 144, 35);
}

.datasetContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.noteHandover {
  width: 30%;
  font-size: 12px;
}

.divNote {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
h7 {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  font-size: 14px;
  color: rgba(12, 16, 64, 0.606);
  font-weight: bold;
}

h7:hover {
  text-transform: uppercase;
  /* margin-left: 40px; */
  /* margin-top: 17px; */
  color: rgb(118, 151, 228);
  font-weight: bold;
}

h1 {
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardTableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.containerBeaconResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 26px; */
  width: 100vw;
  padding-bottom: 50px;

  align-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 24px;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.containerBeaconResults::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.containerBeaconResultsVariants {
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.containerBeaconResultsVariants::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.containerResultsVariants {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.tdGranu .tdFound {
  margin-left: 0px;
}

@media (max-width: 1000px) {
  .tdGranu .tdFound {
    margin-left: 10px;
  }
  tr {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: flex-start;
  }
  .containerBeaconResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 26px; */
    width: 100vw;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-bottom: 50px;
    margin-right: 10px;
    margin-top: 24px;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
  }

  .containerResultsVariants {
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
  }

  .containerBeaconResultsVariants {
    overflow-y: scroll;
    height: 100vh;
    width: 70vw;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
  }
  .containerBeaconResultsVariants::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .tittleResults {
    width: 46vw;
    background: white;
    border-radius: 2px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    color: rgb(26, 131, 128);
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    font-size: 12px;
  }

  .tittleResults h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    color: rgb(209, 45, 20);
    font-weight: bold;

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px;
  }
  h7 {
    text-transform: uppercase;
    /* margin-left: 40px; */
    /* margin-top: 17px; */
    font-size: 12px;
    color: rgba(12, 16, 64, 0.606);
    font-weight: bold;
    /* margin-top: 8px; */
    margin-bottom: 2px;
  }
}
@media (max-width: 1000px) {
  .tableResults {
    /* width: 96%; */
    overflow-x: scroll;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 14px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
  }

  .tableResults::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .containerTableResults {
    width: 100vw;
    display: flex;
    align-content: start;
    justify-content: start;
    align-items: start;
  }

  .containerBeaconResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-right: 26px; */
    width: 100vw;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-bottom: 50px;
    margin-right: 10px;
    margin-top: 24px;
    align-items: flex-start;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
  }
  .containerBeaconResults::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .containerTableNoFull {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  tr {
    width: 100%;
  }
  .tbodyGranu tr {
    width: 70vw;
  }
  .tbodyGranu {
    width: 70vw;
  }
  .theadGranularity tr {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .tdGranuBeacon {
    font-size: 12px;
  }
  .tdGranu {
    font-size: 12px;
  }
  .tbodyGranu tr {
    width: 80vw;
  }
  .tbodyGranu {
    width: 80vw;
  }
  .theadGranularity tr {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .tittleResults {
    width: 72vw;
    background: white;
    border-radius: 2px;
    height: 212px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
  }
  .tbodyGranu tr {
    width: 90vw;
  }
  .tbodyGranu {
    width: 90vw;
  }
  .theadGranularity tr {
    width: 90vw;
  }
}
