/* Error: expected "{".
 *     ,
 * 181 | >>>>>>> 63d4713ed98e3bf51ca4fa9812364308de38d5f4
 *     |                                                 ^
 *     '
 *   ../static/scss/_samples.scss 181:49  @import
 *   ../static/scss/_result.scss 22:11    @import
 *   ../static/scss/style.scss 11:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 181 \2502  >>>>>>> 63d4713ed98e3bf51ca4fa9812364308de38d5f4\a     \2502                                                  ^\a     \2575 \a   ../static/scss/_samples.scss 181:49  @import\a   ../static/scss/_result.scss 22:11    @import\a   ../static/scss/style.scss 11:9       root stylesheet';
}
