html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #636363;
  line-height: 1.4;
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
body header {
  width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px auto auto;
  grid-template-rows: auto;
  grid-template-areas: "icon title    nav" "icon subtitle nav";
  grid-column-gap: 1rem;
  margin-top: 1rem;
}
body header > a {
  grid-area: icon;
  justify-self: left;
}
body header > a img {
  max-width: 160px;
  max-height: 70px;
  display: block;
}
body header > h1 {
  grid-area: title;
  color: #2F3749;
  align-self: end;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}
body header > h1 a {
  text-decoration: none;
  color: inherit;
}
body header > h2 {
  grid-area: subtitle;
  align-self: start;
  font-size: 80%;
  margin: 0;
  color: #9CA7B7;
  font-weight: lighter;
}
body header > h2 a {
  text-decoration: none;
  color: inherit;
}
body header > nav {
  grid-area: nav;
  justify-self: end;
  align-self: center;
}
body header > nav a, body header > nav span {
  margin-right: 1em;
  text-decoration: none;
  color: grey;
  font-size: 80%;
}
body header > nav .endpoint-button {
  color: inherit;
}
body header > nav .endpoint-button.selected {
  text-decoration: underline;
}
body header > nav .access-button {
  background-color: #E4E7EC;
  color: grey;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  border: 1px solid #D4D7DF;
}
body header > nav .access-button:active {
  position: relative;
  top: 1px;
}
body header > nav .access-button.selected {
  color: white;
  background-color: #999A9B;
  border: 1px solid #848484;
}
body header > nav .login-button {
  background-color: #435061;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em 1.25em;
  border: 1px solid #001A3B;
  transition: box-shadow 0.2s;
}
body header > nav .login-button:active {
  position: relative;
  top: 1px;
}

form#query {
  background-color: #EFF3F6;
  color: #333;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 1em 2em;
  margin: 1em 0 2em;
  border-top: 1px solid #E5E8EA;
  font-size: 90%;
}
form#query div.form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: auto auto auto auto; */
  grid-template-rows: auto 225px auto;
  /* grid-template-rows: auto; */
  grid-template-areas: "search search" "datasets filters" "errors errors";
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 0 1rem;
  width: 1040px;
  margin: 0 auto;
  /* #id_extended { */
  /* 	&:before { content: "Extended parameters"; display:inline-block; } */
  /* 	& ~ #simplifed-query { display:block; } */
  /* 	& ~ #extended-query { display:none; } */
  /* 	&:checked:before { content: "Simplified parameters"; display:inline-block; } */
  /* 	&:checked ~ #simplified-query { display:none; } */
  /* 	&:checked ~ #extended-query { display:block; } */
  /* } */
}
form#query div.form-container fieldset {
  border-radius: 0.5em;
}
form#query div.form-container fieldset legend {
  padding: 0 1ex;
}
form#query div.form-container #include-dataset-responses {
  border: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
form#query div.form-container #include-dataset-responses section {
  margin-left: 1em;
}
form#query div.form-container #include-dataset-responses section label {
  margin-right: 1em;
}
form#query div.form-container #query-search {
  grid-area: search;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border: none;
  outline: none;
}
form#query div.form-container #query-search select {
  padding: 0 1em;
  margin: 0;
}
form#query div.form-container #query-search section {
  position: relative;
  min-width: 50%;
  margin: 0 1em;
}
form#query div.form-container #query-search section input {
  width: 725px;
  box-sizing: border-box;
  display: block;
  padding: 0.5rem 1.6rem;
  border: 1px solid #DDDDDD;
  outline: none;
  background-color: white;
  text-align: center;
  transition: box-shadow 200ms;
}
form#query div.form-container #query-search section input::placeholder {
  color: #222;
}
form#query div.form-container #query-search section input:focus {
  border: 1px solid #51cbee;
  box-shadow: 0 0 5px #51cbee;
}
form#query div.form-container #query-search section label {
  display: block;
  position: absolute;
  top: -1.5em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 80%;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms, visibility 0ms;
}
form#query div.form-container #query-search section input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
}
form#query div.form-container #query-search button {
  height: 80%;
  padding: 1ex;
  margin-left: 1em;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  color: white;
  background-color: #2196f3;
  outline: none;
  border: 0;
  border-radius: 3px;
  user-select: none;
}
form#query div.form-container #query-search button:active {
  position: relative;
  top: 1px;
}
form#query div.form-container #query-search button p {
  align-self: center;
  margin: 0;
  padding-left: 5px;
}
form#query div.form-container #query-search button i {
  align-self: center;
}
form#query div.form-container #query-datasets {
  grid-area: datasets;
  display: block;
  position: relative;
  padding: 0;
  background-color: white;
  border: 0.1px solid #E8EBEF;
  border-radius: 5px;
  min-height: 8rem;
  max-height: 100%;
}
form#query div.form-container #query-datasets #datasets-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0.5em 1em;
  height: 18px;
  border-bottom: 0.1px solid #E8EBEF;
}
form#query div.form-container #query-datasets #datasets-header p {
  display: inline-block;
  font-size: 90%;
  margin: 0;
  padding: 0;
}
form#query div.form-container #query-datasets #datasets-header p span {
  cursor: pointer;
}
form#query div.form-container #query-datasets section {
  overflow: auto;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form#query div.form-container #query-datasets section label {
  display: block;
  order: 1;
}
form#query div.form-container #query-datasets section label.dataset-not-authorized {
  opacity: 0.5;
  text-decoration: line-through;
  order: 2;
}
form#query div.form-container #query-filters {
  grid-area: filters;
  display: block;
  position: relative;
  padding: 0;
  background-color: white;
  border: 0.1px solid #E8EBEF;
  border-radius: 5px;
  overflow: auto;
  min-height: 8rem;
  max-height: 100%;
}
form#query div.form-container #query-filters #filters-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 0.5em 1em 0.5em;
  height: 18px;
  border-bottom: 0.1px solid #E8EBEF;
}
form#query div.form-container #query-filters #filters-header p {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
form#query div.form-container #query-filters i {
  cursor: pointer;
  color: #354052;
}
form#query div.form-container #query-filters i.filter-add {
  display: inline-block;
}
form#query div.form-container #query-filters section {
  padding: 0.5em 1em 1em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  /* input + i { margin-left:1ex; } */
}
form#query div.form-container #query-filters section input {
  flex-grow: 1;
  padding: 0.3em 1em;
  border: 1px solid #DDDDDD;
  outline: none;
  transition: box-shadow 200ms;
}
form#query div.form-container #query-filters section input::placeholder {
  color: #222;
}
form#query div.form-container #query-filters section input:focus {
  box-shadow: 0 0 5px #51cbee;
}
form#query div.form-container #query-filters section span {
  padding: 0.3em 1em;
  outline: none;
  border: 1px solid #DDDDDD;
  line-height: 1.15;
}
form#query div.form-container #query-filters section i {
  margin-left: 1ex;
}
form#query div.form-container #query-errors {
  grid-area: errors;
  margin: 0 auto;
}
form#query div.form-container #query-errors div.error-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 2em 0 1em;
  padding: 1.25em 3.5em;
  border-radius: 5px;
  background-color: #DB524B;
  color: white;
  justify-content: center;
  position: relative;
}
form#query div.form-container #query-errors div.error-wrapper i {
  position: absolute;
  top: 8px;
  left: 9px;
  font-size: 20px;
}
form#query div.form-container #query-errors div.error-wrapper code {
  background-color: #E78D88;
  display: inline-block;
  padding: 3px 1ex;
  border-radius: 5px;
  margin: 0 0.25em;
}
form#query div.form-container #query-errors div.error-wrapper span.bold {
  font-weight: bold;
  margin-right: 0.25em;
}
form#query div.form-container #query-errors div.error-wrapper span.query-form {
  font-weight: bold;
  background-color: #E78D88;
  display: inline-block;
  padding: 3px 1ex;
  border-radius: 5px;
  color: white;
  margin-right: 0.5em;
  min-width: 7.5em;
  text-align: center;
}
form#query div.form-container #query-errors div.error-wrapper div.small {
  padding-left: 10px;
  font-size: 85%;
}
form#query div.form-container #query-errors div.error-wrapper div.small p {
  margin-bottom: 0.5em;
}
form#query div.form-container #query-errors div.error-wrapper div.small ul {
  margin-top: 0;
  list-style-type: none;
  text-indent: -10px;
}

main {
  flex: 1;
  /* push footer down */
  width: 1040px;
  margin: 0 auto;
}
main span.label {
  display: inline;
  padding: 0.2em 0.6em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  /* Fallback */
  background-color: grey;
  color: white;
  border: none;
  /*
  	&.label-public.label-not_authorized { @include left2rightGradient($label-public, $label-not_authorized); }
  	&.label-public.label-authorized { @include left2rightGradient($label-public, $label-authorized); }

  	&.label-registered.label-not_authorized { @include left2rightGradient($label-registered, $label-not_authorized); }
  	&.label-registered.label-authorized { @include left2rightGradient($label-registered, $label-authorized); }

  	&.label-controlled.label-not_authorized { @include left2rightGradient($label-controlled, $label-not_authorized); }
  	&.label-controlled.label-authorized { @include left2rightGradient($label-controlled , $label-authorized); }

  	&.label-not_supported.label-not_authorized { @include left2rightGradient($label-not_supported, $label-not_authorized); }
  	&.label-not_supported.label-authorized { @include left2rightGradient($label-not_supported, $label-authorized); }
  */
}
main span.label.label-public {
  background-color: #5cb85c;
}
main span.label.label-registered {
  background-color: #f0ad4e;
}
main span.label.label-controlled {
  background-color: #d9534f;
}
main span.label.label-not_supported {
  background-color: #ccc;
}
main p {
  margin: 0 0 1em 0;
}

#info main {
  padding: 0 1em;
}
#info main section {
  display: flex;
  flex-flow: row no-wrap;
  align-items: flex-start;
  padding: 1em;
  border-top: 1px solid #ccc;
  max-width: 100%;
}
#info main section > p {
  margin: 0;
  padding: 0;
  /* overflow: hidden; text-overflow: ellipsis; white-space: nowrap; */
  flex: 1;
  font-size: 12px;
  margin-top: 0.15em;
}
#info main section > a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#info main section > a .label {
  font-size: 12px;
}
#info main section > span {
  margin: 0.15em 1em 0;
  display: flex;
  font-size: 75%;
  border-radius: 50%;
  cursor: help;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  /* Fallback */
  background-color: grey;
  color: white;
}
#info main section > span.label-authorized {
  background-color: #5cb85c;
}
#info main section > span.label-not_authorized {
  background-color: #d9534f;
}

#beacon-cookies {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  background: #24282a;
  padding: 1em 0;
  opacity: 1;
}
#beacon-cookies > div {
  width: 1000px;
}
#beacon-cookies > div h6 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
#beacon-cookies > div p {
  margin: 1em 0;
}
#beacon-cookies > div a {
  display: inline-block;
  color: #e05540;
}
#beacon-cookies button {
  width: 140px;
  margin-left: 1em;
  border-radius: 3px;
  height: 2em;
  color: inherit;
  background-color: #e05540;
  border: none;
  cursor: pointer;
}
#beacon-cookies.hide-me {
  opacity: 0;
  transition: opacity 1s;
}

#beacon-cookies + footer {
  margin-bottom: 9rem;
}

#beacon-cookies.hide-me + footer {
  margin-bottom: 0;
  transition: margin 1.5s;
}

footer {
  margin-top: 2em;
  padding: 2em;
  background-color: #EFF3F6;
  color: #2F3749;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  /* push it right */
}
footer section {
  position: relative;
}
footer section::before {
  content: "|";
  display: inline-block;
  margin: 0 1em;
}
footer section:first-of-type {
  margin-left: auto;
}
footer section:first-of-type::before {
  content: none;
}
footer label, footer input {
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: grey;
}
footer a i {
  color: #2F3749;
  font-size: 120%;
}

#beacon-response {
  display: none;
  white-space: pre-wrap;
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  right: 10vw;
  left: 10vw;
  box-shadow: 0 0 50px 0px #c3c3c3;
  z-index: 100;
  background: white;
  padding: 1em;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
}

#beacon-request {
  display: none;
  position: absolute;
  right: 0;
  bottom: 2em;
  box-shadow: 0 0 50px 0px #c3c3c3;
  width: 60vw;
  padding: 1em;
  box-sizing: border-box;
  z-index: 101;
  background: white;
  border-radius: 5px;
  text-align: center;
}

input#beacon-request-trigger:checked ~ #beacon-request {
  display: block;
}

input#beacon-response-trigger:checked ~ #beacon-response {
  display: block;
}

#response-history {
  display: none;
}

aside {
  position: fixed;
  top: 10%;
  bottom: 10%;
  height: 80%;
  z-index: 200;
  box-sizing: border-box;
  overflow: auto;
  width: 300px;
  left: calc(-300px + 1.5em);
  padding: 1.5em;
  border-radius: 0 1em 1em 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  /* transition: left 300ms; */
  /* only on hover */
  background-color: #EFF3F6;
  color: #636363;
  /* clear history */
  counter-reset: history;
}
aside > span {
  display: inline-block;
  float: right;
  font-size: 0.7em;
  cursor: pointer;
  margin: 0.5em 0;
}
aside h1 {
  text-align: right;
  margin: 0 0 1em 0;
  color: #2F3749;
  /* transition: transform 300ms, */
  /*             font-size 300ms; */
  transform: rotate(90deg) translate(-170px, -300px);
  transform-origin: 0 -100%;
  /* transform: translateX(100%) rotate(90deg); */
  /* transform-origin: 0 0; */
  font-size: 1em;
}
aside h1 span {
  border-radius: 50%;
  padding: 0.5ex 1ex;
  margin-left: 1ex;
  font-size: 0.5em;
  background-color: #2196f3;
  color: white;
  transition: transform 300ms;
  transform: rotate(-90deg);
  transform-origin: center;
  display: inline-block;
}
aside.open, aside:hover {
  transition: left 300ms;
  left: 0;
}
aside.open h1, aside:hover h1 {
  transform: none;
  font-size: 1.5em;
}
aside.open h1 span, aside:hover h1 span {
  transform: none;
}
aside section {
  display: block;
  margin-bottom: 1em;
  border: 1px solid #E5E8EA;
  border-radius: 1em 1em 1ex 1ex;
  font-weight: lighter;
  background-color: white;
  position: relative;
}
aside section h2 {
  color: white;
  font-weight: lighter;
}
aside section:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
aside section:hover h2 i.fas {
  display: inline-block;
  color: white;
  margin-right: 5px;
}
aside section::before {
  counter-increment: history;
  content: counter(history);
  position: absolute;
  top: -1ex;
  left: -1ex;
  z-index: 10;
  border-radius: 40%;
  padding: 0.5ex 1ex;
  font-size: 70%;
  background-color: grey;
  color: white;
}
aside section p.long,
aside section pre {
  word-break: break-all;
}
aside section h2 {
  padding: 0.3em 1em;
  border-radius: 1em 1em 0 0;
  margin: 0;
  font-size: 1em;
  text-align: center;
  position: relative;
  z-index: 5;
}
aside section h2.response-Y {
  background-color: #36AE47;
}
aside section h2.response-N {
  background-color: #F06543;
}
aside section h2 i.fas {
  display: none;
  position: absolute;
  right: 5px;
  top: 0;
  transform: translateY(50%);
  width: 1em;
  cursor: pointer;
}
aside section h2 i.fas:hover {
  text-shadow: 0px 0px 5px white;
}
aside section ul {
  list-style-type: none;
  font-weight: lighter;
  font-size: 90%;
  margin: 0.5em 0;
  padding: 0;
}
aside section ul li {
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E8EA;
  padding: 0.2em 2.5em;
}
aside section ul li span:nth-child(2) {
  color: darkgrey;
}
aside section ul li:nth-last-child(1) {
  border-bottom: none;
}

body {
  width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #636363;
  line-height: 1.4;
}
body main#access-levels {
  width: 1140px;
}
body main#access-levels #access-levels-legend {
  margin-right: 50px;
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
}
body main#access-levels #access-levels-legend .label {
  margin: 0 1ex;
}
body main#access-levels > nav {
  display: flex;
  margin-top: 1em;
  justify-content: flex-end;
}
body main#access-levels > nav input {
  margin: 0 1ex;
}
body main#access-levels .section-title {
  background-color: #EFF3F6;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
body main#access-levels .section-title h1 {
  margin-left: 1em;
  font-size: 18px;
}
body main#access-levels .section-title h1 small {
  font-size: 14px;
  font-weight: lighter;
  margin-left: 0.5em;
}
body main#access-levels .section-title div.include-check {
  font-size: 12px;
  font-weight: lighter;
  margin-right: 1em;
}
body main#access-levels .section-content {
  width: 1040px;
  margin: 0 auto;
}
body main#access-levels .section-content ul.collapsed {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0;
  padding: 0;
  /* justify-content:space-between; */
}
body main#access-levels .section-content ul.collapsed .label {
  margin: 1ex;
  display: inline-block;
  font-size: 1em;
  /* color:black; */
}
body main#access-levels .section-content ul.expanded {
  margin: 0;
  padding: 0;
}
body main#access-levels .section-content ul.expanded > li {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
body main#access-levels .section-content ul.expanded > li:nth-child(1) {
  border-top: none;
  margin-top: 2em;
}
body main#access-levels .section-content ul.expanded > li > span {
  margin-right: 1em;
  min-width: 15em;
  display: inline-block;
  text-align: right;
}
body main#access-levels .section-content ul.expanded > li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
body main#access-levels .section-content ul.expanded > li ul .label {
  margin: 0 1ex 0.5ex 0;
  display: inline-block;
  font-size: 1em;
  /* color:black; */
}
body main#access-levels .section-content div.datasets {
  margin: 2em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body main#access-levels .section-content div.datasets p {
  display: inline-block;
  text-align: center;
  padding: 1em;
  margin: 0 0 0 1em;
}
body main#access-levels .section-content div.datasets p .label {
  margin-left: 1ex;
}
body main#access-levels .section-content .message {
  margin: 1em;
}
body main#access-levels .section-content .message p {
  width: 70%;
  padding: 0.2em;
  margin: 2em auto;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #636363;
  color: white;
  text-align: center;
  font-weight: lighter;
}

body#response > main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
body#response > main section {
  /* flex-basis:30%; */
  min-width: 150px;
  margin: 1em;
  /* margin:1em 0; */
  padding: 0;
  border: 1px solid #E5E8EA;
  border-radius: 1ex;
  color: grey;
  overflow: hidden;
}
body#response > main section h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: white;
}
body#response > main section li {
  padding: 0.5em 1em;
  border-bottom: 1px solid #E5E8EA;
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}
body#response > main section li:last-of-type {
  border-bottom: none;
}
body#response > main section li.handover {
  background-color: #eff3f6;
  color: #2196f3;
  position: relative;
  /* handover links */
}
body#response > main section li.handover .handover-note {
  overflow: scroll;
}
body#response > main section li.handover .handover-note a {
  display: inline-block;
  color: #2196f3;
  text-decoration: none;
}
body#response > main section li.handover .handover-note p {
  display: none;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translate(-50%, -100%);
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #353C47;
  z-index: 99;
  overflow: scroll;
  border-radius: 5px;
  border: 2px solid #353C47;
}
body#response > main section li.handover .handover-note::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  z-index: 100;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #353C47;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}
body#response > main section li.handover:hover .handover-note p {
  display: block;
}
body#response > main section li.handover:hover .handover-note::after {
  display: block;
}
body#response > main section li span.variable {
  display: inline-block;
  padding-right: 0.5em;
}
body#response > main section li span.number {
  display: inline-block;
}
body#response > main section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body#response > main section span.number {
  color: black;
  font-weight: bold;
}
body#response > main section.exists-Y h3 {
  background-color: #36AE47;
}
body#response > main section.exists-Y h3 span {
  font-weight: bold;
}
body#response > main section.exists-N h3 {
  background-color: #F06543;
}
body#response > main section.exists-N h3 span {
  font-weight: bold;
}
body#response > main.per-variant {
  margin: 0 auto;
  padding: 0;
}
body#response > main.per-variant .noVariantsFound {
  display: grid;
  grid-auto-columns: 1;
  grid-auto-rows: 2;
  justify-content: center;
}
body#response > main.per-variant .noVariantsFound section {
  justify-self: center;
  width: 150px;
}
body#response > main.per-variant .noVariantsFound p {
  display: inline-block;
  font-size: 80%;
  color: grey;
  font-weight: lighter;
}
body#response > main.per-variant .noVariantsFound p span {
  font-weight: bold;
}
body#response > main.per-variant #variantsPanel {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 1040px;
  height: 650px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #EFF3F6;
  border-radius: 5px;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper {
  background-color: #EFF3F6;
  width: 175px;
  height: 100%;
  overflow: scroll;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton {
  background-color: #D6DADE;
  min-height: 50px;
  max-height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: white;
  overflow: scroll;
  cursor: pointer;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton p {
  display: inline-block;
  padding: 1em;
  margin: 0;
  text-align: justify;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton:hover {
  background-color: #CCD0D3;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton.selected {
  background-color: #1D94EE;
}
body#response > main.per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton:nth-child(1) {
  border-top-left-radius: 5px;
}
body#response > main.per-variant #variantsPanel .content-wrapper {
  background-color: white;
  width: 990px;
  height: 100%;
  overflow: scroll;
  position: relative;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content {
  display: none;
  padding: 3.5em 1em 1em 3em;
  width: 90%;
  grid-column: 100%;
  grid-row: 50px auto;
  grid-template-areas: "variant-header" "datasets";
  grid-gap: 1em;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content.selected {
  display: grid;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header {
  grid-area: variant-header;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header p {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  margin-right: 1em;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header p small {
  font-weight: lighter;
  font-size: 100%;
  padding-left: 0.25em;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div .logo {
  margin: auto 0.5em;
  padding: 0;
  position: relative;
  align-self: center;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div .logo img {
  width: 16px;
  height: 16px;
  border-radius: 30%;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div .logo i {
  font-size: 15px;
  color: #2196f3;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div .logo::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  z-index: 101;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #353C47;
  border-top: 8px solid transparent;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result {
  display: none;
  position: absolute;
  height: 500px;
  width: 80%;
  top: 67px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  margin: 0 auto;
  align-self: start;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result .transparent {
  height: 10px;
  margin: 0;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result .content-handover {
  background-color: #353C47;
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  padding: 1em;
  border-radius: 5px;
  overflow: scroll;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result .content-handover p {
  margin-left: 1em;
  font-weight: bolder;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result.small {
  max-width: 40%;
  width: auto;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover {
  height: auto;
  padding: 1em;
  overflow: scroll;
  display: block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 90%;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p span {
  font-weight: bold;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p a {
  text-decoration: none;
  color: white;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div:hover div.result {
  display: block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div:hover div.logo::after {
  display: block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div.missing div img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div.missing div i {
  color: #B1CEE5;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div.missing:hover div.result {
  display: none;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .header div.missing:hover div.logo::after {
  display: none;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses {
  grid-area: datasets;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: start;
  overflow: scroll;
  padding-left: 1em;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section {
  /* flex-basis:30%; */
  min-width: 150px;
  margin: 1em;
  /* margin:1em 0; */
  padding: 0;
  border: 1px solid #E5E8EA;
  border-radius: 1ex;
  color: grey;
  overflow: hidden;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: white;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li {
  padding: 0.5em 1em;
  border-bottom: 1px solid #E5E8EA;
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li:last-of-type {
  border-bottom: none;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover {
  background-color: #eff3f6;
  color: #2196f3;
  position: relative;
  /* handover links */
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note {
  overflow: scroll;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note a {
  display: inline-block;
  color: #2196f3;
  text-decoration: none;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note p {
  display: none;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translate(-50%, -100%);
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #353C47;
  z-index: 99;
  overflow: scroll;
  border-radius: 5px;
  border: 2px solid #353C47;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  z-index: 100;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #353C47;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover:hover .handover-note p {
  display: block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover:hover .handover-note::after {
  display: block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li span.variable {
  display: inline-block;
  padding-right: 0.5em;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section li span.number {
  display: inline-block;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section span.number {
  color: black;
  font-weight: bold;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-Y h3 {
  background-color: #36AE47;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-Y h3 span {
  font-weight: bold;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-N h3 {
  background-color: #F06543;
}
body#response > main.per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-N h3 span {
  font-weight: bold;
}
body#response > main.per-sample {
  margin: 0 auto;
  padding: 0;
}
body#response > main.per-sample #samplesPanel {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "sampleCards variantResults";
}
body#response > main.per-sample #samplesPanel #samplesWrapper {
  grid-area: "sampleCards";
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard {
  margin: 1em;
  padding: 0;
  width: 300px;
  border: 1px solid #E5E8EA;
  border-radius: 5px;
  color: #636363;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: white;
  background-color: #C4C4C4;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 50%;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul li {
  padding: 0.1em 0.5em 0.5em;
  border-bottom: 1px solid #EFF3F6;
  font-size: 12px;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul li.listTitle {
  text-align: center;
  font-weight: bold;
  padding: 0.5em 1em;
  color: #636363;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul li span {
  display: block;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul li span.var {
  text-align: left;
  font-size: 10px;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul li span.val {
  text-align: right;
  font-weight: bold;
  color: #808080;
  font-size: 11px;
}
body#response > main.per-sample #samplesPanel #samplesWrapper .resultCard .cardBody ul:first-child {
  border-right: 1px solid #E5E8EA;
}
body#response > main.per-sample #samplesPanel #resultVariants {
  grid-area: "variantResults";
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant {
  margin: 0 auto;
  padding: 0;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant .noVariantsFound {
  display: grid;
  grid-auto-columns: 1;
  grid-auto-rows: 2;
  justify-content: center;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant .noVariantsFound section {
  justify-self: center;
  width: 150px;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant .noVariantsFound p {
  display: inline-block;
  font-size: 80%;
  color: grey;
  font-weight: lighter;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant .noVariantsFound p span {
  font-weight: bold;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 1040px;
  height: 650px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #EFF3F6;
  border-radius: 5px;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper {
  background-color: #EFF3F6;
  width: 175px;
  height: 100%;
  overflow: scroll;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton {
  background-color: #D6DADE;
  min-height: 50px;
  max-height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: white;
  overflow: scroll;
  cursor: pointer;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton p {
  display: inline-block;
  padding: 1em;
  margin: 0;
  text-align: justify;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton:hover {
  background-color: #CCD0D3;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton.selected {
  background-color: #1D94EE;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .sidebar-wrapper .sidebar .variantButton:nth-child(1) {
  border-top-left-radius: 5px;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper {
  background-color: white;
  width: 990px;
  height: 100%;
  overflow: scroll;
  position: relative;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content {
  display: none;
  padding: 3.5em 1em 1em 3em;
  width: 90%;
  grid-column: 100%;
  grid-row: 50px auto;
  grid-template-areas: "variant-header" "datasets";
  grid-gap: 1em;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content.selected {
  display: grid;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header {
  grid-area: variant-header;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header p {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  margin-right: 1em;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header p small {
  font-weight: lighter;
  font-size: 100%;
  padding-left: 0.25em;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div .logo {
  margin: auto 0.5em;
  padding: 0;
  position: relative;
  align-self: center;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div .logo img {
  width: 16px;
  height: 16px;
  border-radius: 30%;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div .logo i {
  font-size: 15px;
  color: #2196f3;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div .logo::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  z-index: 101;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #353C47;
  border-top: 8px solid transparent;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result {
  display: none;
  position: absolute;
  height: 500px;
  width: 80%;
  top: 67px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  margin: 0 auto;
  align-self: start;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result .transparent {
  height: 10px;
  margin: 0;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result .content-handover {
  background-color: #353C47;
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  padding: 1em;
  border-radius: 5px;
  overflow: scroll;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result .content-handover p {
  margin-left: 1em;
  font-weight: bolder;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result.small {
  max-width: 40%;
  width: auto;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover {
  height: auto;
  padding: 1em;
  overflow: scroll;
  display: block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 90%;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p span {
  font-weight: bold;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div div.result.small .content-handover p a {
  text-decoration: none;
  color: white;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div:hover div.result {
  display: block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div:hover div.logo::after {
  display: block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div.missing div img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div.missing div i {
  color: #B1CEE5;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div.missing:hover div.result {
  display: none;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .header div.missing:hover div.logo::after {
  display: none;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses {
  grid-area: datasets;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: start;
  overflow: scroll;
  padding-left: 1em;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section {
  /* flex-basis:30%; */
  min-width: 150px;
  margin: 1em;
  /* margin:1em 0; */
  padding: 0;
  border: 1px solid #E5E8EA;
  border-radius: 1ex;
  color: grey;
  overflow: hidden;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: white;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li {
  padding: 0.5em 1em;
  border-bottom: 1px solid #E5E8EA;
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li:last-of-type {
  border-bottom: none;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover {
  background-color: #eff3f6;
  color: #2196f3;
  position: relative;
  /* handover links */
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note {
  overflow: scroll;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note a {
  display: inline-block;
  color: #2196f3;
  text-decoration: none;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note p {
  display: none;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translate(-50%, -100%);
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #353C47;
  z-index: 99;
  overflow: scroll;
  border-radius: 5px;
  border: 2px solid #353C47;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover .handover-note::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  z-index: 100;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #353C47;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover:hover .handover-note p {
  display: block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li.handover:hover .handover-note::after {
  display: block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li span.variable {
  display: inline-block;
  padding-right: 0.5em;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section li span.number {
  display: inline-block;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section span.number {
  color: black;
  font-weight: bold;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-Y h3 {
  background-color: #36AE47;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-Y h3 span {
  font-weight: bold;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-N h3 {
  background-color: #F06543;
}
body#response > main.per-sample #samplesPanel #resultVariants .per-variant #variantsPanel .content-wrapper .content .dataset-responses section.exists-N h3 span {
  font-weight: bold;
}

.handover-note:hover p {
  display: block;
}
.handover-note:hover::after {
  display: block;
}

@keyframes fadeAway {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
ul#messages {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
  width: 300px;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
ul#messages li {
  text-align: center;
  background: white;
  color: black;
  border-radius: 1ex;
  border: 1px solid black;
  margin: 1ex 0;
  padding: 1ex;
  position: relative;
  box-sizing: border-box;
  /* Stop and restart */
}
ul#messages li.hidden {
  display: none;
}
ul#messages li::after {
  content: "-";
  text-indent: -30000px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  height: 2px;
  width: calc(100% - 2px);
  background: black;
  border-radius: 1ex;
  animation-name: fadeAway;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
ul#messages li:hover::after {
  animation: none;
}
ul#messages li.message-info {
  background: #5cb85c;
  border-color: #5cb85c;
}
ul#messages li.message-info::after {
  background: #449d44;
}
ul#messages li.message-error {
  background: #d9534f;
  border-color: #d9534f;
}
ul#messages li.message-error::after {
  background: #c9302c;
}
ul#messages li.message-warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
}
ul#messages li.message-warning::after {
  background: #ec971f;
}

/*# sourceMappingURL=style.css.map */
