.crossQueriesForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 40px;
  margin-right: 30px;
  align-content: center;
  align-items: flex-start;
}

select {
  background: white;
  border: 2px solid #f3f4ff;
  font-size: medium;
  border-radius: 5px;
  width: 150px;
  margin-left: 10px;
  height: 29px;
  box-shadow: 1px 2px 2px #cecece;
  cursor: pointer;
}

.inputId {
  background: white;
  border: 2px solid #f3f4ff;
  font-size: medium;
  border-radius: 5px;
  width: 200px;
  margin-left: 10px;
  height: 22px;
  box-shadow: 1px 2px 2px #cecece;
}

.divCrossQueries {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.crossQueriesForm label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formButton {
  cursor: pointer;
  background: rgb(255 255 255);
  border: 2px 2px 2px 0px solid #f3f4ff;
  font-size: medium;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  box-shadow: 1px 2px 2px #cecece;
  margin-top: 30px;
}

.formButton:hover {
  background: #d4c223;
  box-shadow: 1px 1px 1px 1px #d4c223;
  border: solid #d4c223;
}

h5 {
  color: rgb(209, 66, 66);
  font-weight: bold;
  width: fit-content;
  /* width: 150%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 14px;
}

h5:hover {
  color: rgb(118, 151, 228);
  font-weight: bold;
}

.preCrossQueries {
  margin-left: 30px;
}

.preCrossQueries p {
  font-size: 11px;
  background: #e5e5e5;
  color: black;
  padding: 20px;
}

@media (max-width: 760px) {
  select {
    font-size: 11px;
    width: 104px;
  }
  .crossQueriesForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 40px;
    margin: 10px;
    /* margin-right: 30px; */
    align-content: center;
    align-items: flex-start;
  }

.inputId {
  background: white;
  border: 2px solid #f3f4ff;
  font-size: 12px;
  border-radius: 5px;
  width: 200px;
  margin-left: 10px;
  height: 22px;
  box-shadow: 1px 2px 2px #cecece;
}

}
